<h1>Імпресум</h1>
<p>Оператор Гайко Люббе відповідає за вміст і послуги субдоменів домену Zitat-Service.de.
   Це стосується, серед іншого:</p>
<div class="padding-left-2em">
  <table id="contact">
    <tr>
      <td><%= image_tag("quote_service_16.png", :alt => "зелена літера Z", :title => "Zitat-Service Логотип") %></td>
      <td><a href="https://www.zitat-service.de/uk">www.zitat-service.de</a> </td>
      <td>Веб-додаток</td>
    </tr><tr>
      <td><%= image_tag("quote_service_16.png", :alt => "зелена літера Z", :title => "Zitat-Service Логотип") %></td>
      <td><a href="https://api.zitat-service.de">api.zitat-service.de</a></td>
      <td>Інтерфейс програмування</td>
    </tr><tr>
      <td><%= image_tag("joomla_16x16.png", :alt => "Joomla! Логотип", :title => "Joomla!") %></td>
      <td><a href="https://joomla.zitat-service.de/uk">joomla.zitat-service.de</a></td>
      <td>Демонстрація розширення Joomla</td>
    </tr><tr>
      <td><%= image_tag("wordpress.png", :alt => "WordPress Логотип", :title => "WordPress", size: '16x16') %></td>
      <td><a href="https://wp-demo.zitat-service.de/uk">wp-demo.zitat-service.de</a></td>
      <td>Demo des WordPress-Plugins</td>
      </tr>
  </table>
</div>
<p class="top_space_field">З оператором можна зв'язатися за адресою:</p>
<p class="padding-left-2em">
Heiko Lübbe<br/>
Zum Stützpunkt 4<br/>
14641 Nauen<br/>
GERMANY
</p>
<p class="padding-left-2em">
<a href="&#109;a&#105;&#108;&#116;&#111;:&#72;e&#105;&#107;&#111;&#46;&#76;&#117;&#101;&#98;&#98;&#101;&#64;&#122;&#105;&#116;&#97;&#116;&#45;&#115;&#101;&#114;&#118;&#105;&#99;&#101;&#46;&#100;&#101;">&#72;<!-- 42 -->e&#105;&#107;&#111;&#46;&#76;&#117;&#101;&#98;&#98;&#101;&#64;&#122;&#105;&#116;&#97;&#116;&#45;&#115;&#101;&#114;&#118;&#105;&#99;&#101;.d&#101;</a>
</p>
<p class="padding-left-2em">
<a href="tel:&plus;&#52;&#57; &#51;&#51;&#50;&#51;&#57; &#50;&#48;&#53;&#57;&#48;">&plus;&#52;&#57; &#51;&#51;&#50;&#51;&#57; &#50;&#48;&#53;&#57;&#48;</a>
</p> 

<h2>1. Авторське право</h2>
<p>Якщо ви не бажаєте бути включеним до цієї колекції цитат як автор однієї або декількох цитат
   або як особа, відповідальна за спадщину, не бажаєте бути включеними до цієї колекції цитат,
   будь ласка, повідомте оператора електронною поштою.
</p>

<h2>2. Умови використання</h2>

<h3>2.1. Прийняття</h3>
<p>Отримуючи доступ і використовуючи дані та послуги субдоменів домену Zitat-Service.de,
   ви погоджуєтеся з цими умовами використання.</p>

<h3>2.2. Ліцензії</h3>
<p>Відкрите програмне забезпечення <a href="https://github.com/muhme/quote">github.com/muhme/quote</a> для веб-додатку та
  відкрите програмне забезпечення <a href="https://github.com/muhme/quote_api">github.com/muhme/quote_api</a> для API 
  надаються на умовах <a href="https://github.com/muhme/quote/blob/master/LICENSE">Ліцензії MIT</a>.</p>
<p>Колекція цитат користувальницької спільноти, демо-версія та сторінки допомоги надаються на умовах Ліцензії Creative Commons
   <a href="https://creativecommons.org/licenses/by/4.0/deed.uk">CC BY 4.0</a>.
</p>

<h3>2.3. Обмеження використання</h3>
<p>Ви не можете використовувати дані та послуги субдоменів домену Zitat-Service.de таким чином, який:</p>
<ul>
  <li>порушує закони або регуляції,</li>
  <li>порушує права інших,</li>
  <li>є шкідливим, шахрайським або обманним.</li>
</ul>

<h3>2.4. Зміни</h3>
<p>Дані та послуги субдоменів домену Zitat-Service.de
   можуть бути змінені або тимчасово або постійно припинені без попереднього повідомлення.
</p>

<h3>2.5. Відмова від гарантії</h3>
<p>Оператор прагне надавати послуги без перебоїв.
   Однак, незважаючи на максимальну увагу, час простою не можна виключити.
   Дані та послуги субдоменів домену Zitat-Service.de
   надаються "як є" та "як доступні".
</p>

<h3>2.6. Обмеження відповідальності</h3>
<p>Оператор не несе відповідальності за будь-які прямі або непрямі збитки,
   які виникають внаслідок використання даних та послуг субдоменів домену Zitat-Service.de.
</p>

<h3>2.7. Зміна умов</h3>
<p>Оператор залишає за собою право змінювати ці умови використання в будь-який час.
   Якщо ви продовжуєте використовувати дані та послуги субдоменів домену Zitat-Service.de після таких змін,
   ви погоджуєтеся з новими умовами та положеннями.
</p>

<h2>3. Положення про конфіденційність</h2>
<p>Ця Політика конфіденційності від 13 лютого 2024 року охоплює всі дані та послуги субдоменів домену Zitat-Service.de.
  Захист вашої особистої інформації підлягає
   <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:32016R0679">Загальному регламенту про захист даних</a>
   Європейського Союзу.</p>

<h3>3.1. Інформація, коригування, блокування, видалення або заперечення</h3>
<p>У вас є право на інформацію, коригування, блокування, видалення або заперечення щодо вашої особистої інформації, збереженої на Zitat-Service.de.
   Будь ласка, зверніться до оператора Гайко Люббе.</p>

<h3>3.2. Збір та використання інформації журналу</h3>
<p>Коли ви надсилаєте запит на один із веб-сайтів, розміщених у субдоменах Zitat-Service.de,
   ці запити можуть бути зареєстровані. Це може включати, серед іншого:</p>
<ul>
  <li>Деталі запиту (наприклад, дата, час або час відповіді),</li>
  <li>Технічна інформація (наприклад, IP-адреса або пристрій доступу) або</li>
  <li>Зберігання входу користувача.</li>
</ul>
<p>Ці дані збираються для забезпечення правильної функціонування послуг,
   для покращення продуктивності та аналізу помилок. Зібрані дані зберігаються лише стільки, скільки це необхідно
   для зазначених цілей. Як тільки необхідність зберігання даних припиняється, ми видаляємо дані.
</p>

<h3>3.3. Зберігання та використання колекції цитат</h3> 
<p>Колекція цитат спільноти користувачів зберігає дані користувачів та контент, створений користувачами.
  Це може включати, серед іншого:</p>
<ul>
  <li>Дані користувача (наприклад, ім'я користувача, односторонньо зашифрований пароль або електронна адреса),</li>
  <li>Адміністративна інформація (наприклад, час створення або творець) та</li>
  <li>Контент (наприклад, цитати, категорії або коментарі).</li>
</ul>
<p>Ці дані зберігаються постійно для функціонування колекції цитат.
  Створений вами контент може бути анонімізований за запитом.
</p>

<h3>3.4. Безпека даних</h3>
<p>Ми вживаємо відповідних заходів для захисту даних від втрати, крадіжки, неправомірного використання та несанкціонованого доступу,
   розкриття, зміни та знищення.</p>

<h3>3.5. Кукі</h3>
<p>Кукі - це текстові файли, які тимчасово зберігаються у браузері користувача веб-сайту.
   При використанні субдоменів Zitat-Service.de встановлюються лише технічно необхідні кукі для входу.
</p>

<h3>3.6. Зміни в Політиці конфіденційності</h3>
<p>Оператор залишає за собою право змінювати цю Політику конфіденційності в будь-який час.
   Ми повідомимо вас про зміну, оновивши дату на початку Політики конфіденційності.
</p>

<h2>4. Примітка про використання зовнішніх посилань</h2>
<p>Сторінки з зовнішніми посиланнями перевіряються на момент початкового посилання.
   Однак, постійний моніторинг змін на сторінках з зовнішніми посиланнями не проводиться.
   Якщо оператор дізнається або отримує повідомлення від інших, що певна пропозиція, на яку є зовнішнє посилання,
   викликає цивільну або кримінальну відповідальність, оператор видалить посилання на цю пропозицію.
</p>

<h2>5. Використання послуг</h2>
<p>Дякуємо за використання таких послуг:</p>
<ul>
  <li><a href="https://deepl.com">API DeepL Free</a> – для машинного перекладу текстів, та</li>
  <li><a href="https://wikipedia.org">API Wikipedia</a> – для пошуку статей у Wikipedia іншими мовами та перекладу імен авторів.</li>
</ul>

<h2>6. Дизайн та розробка</h2>
<p>За помилки або запити на покращення, будь ласка, створіть <a target="_blank" href="https://github.com/muhme/quote/issues">заявку</a>.
   Цей веб-додаток базується на:
</p>
<div class="padding-left-2em">
  <table id="contact">
    <tr>
      <td><%= image_tag("tux.png", :alt => "Tux", :title => "Tux - талісман Linux")%></td>
      <td>Сервер</td>
      <td><%= Socket.gethostname %></td>
    </tr><tr>
      <td><%= image_tag("rails_32.png", :height => 16, :alt => "Ruby", :title => "Ruby для мови програмування Ruby")%></td>
      <td><a href="https://rubyonrails.org/">Ruby on Rails</a></td>
      <td><%= Rails.version %></td>
    </tr><tr>
      <td><%= image_tag("ruby.png", :alt => "Ruby", :title => "Ruby для мови програмування Ruby")%></td>
      <td><a href="https://www.ruby-lang.org/">Ruby</a></td>
      <td><%= RUBY_VERSION %></td>
    </tr><tr>
      <td><%= image_tag("quote_service_16.png", :alt => "зелена Z", :title => "логотип Zitat-Service") %></td>
      <td><a href="https://github.com/muhme/quote">Програмне забезпечення</a> від</td>
      <td><%= getGitVersion() %></td>
      </tr><tr>
        <td>&nbsp;</td>
        <td>Середовище</td>
        <td><%= Rails.env %></td>
      </tr>
  </table>
</div>

<p class="top_space_field">Веб-додаток <a href="https://www.Zitat-Service.de/uk">www.Zitat-Service.de</a> та
програмний інтерфейс <a href="https://api.Zitat-Service.de">api.Zitat-Service.de</a>
створені:</p>
<div class="padding-left-2em">
  <a style="border: 0px;" href="https://www.consulting.heikol.de/en">
  <%= image_tag("systemberatung.png", :alt => "Логотип: червона точка і синя рамка, синім шрифтом написано Systemberatung Heiko Lübbe, під ним червоними літерами слова Цілі, Проекти та Успіхи", :title => "Systemberatung Heiko Lübbe") %></a>
</div>
