<h1>Aviso legal</h1>
<p>El operador Heiko Lübbe es responsable del contenido del sitio web <a href="https://www.zitat-service.de">zitat-service.de</a>:</p>
<p class="padding-left-2em">
Heiko Lübbe<br/>
Zum Stützpunkt 4<br/>
14641 Nauen<br/>
GERMANY
</p>
<p class="padding-left-2em">
<a href="&#109;a&#105;&#108;&#116;&#111;:&#72;e&#105;&#107;&#111;&#46;&#76;&#117;&#101;&#98;&#98;&#101;&#64;&#122;&#105;&#116;&#97;&#116;&#45;&#115;&#101;&#114;&#118;&#105;&#99;&#101;&#46;&#100;&#101;">&#72;<!-- 42 -->e&#105;&#107;&#111;&#46;&#76;&#117;&#101;&#98;&#98;&#101;&#64;&#122;&#105;&#116;&#97;&#116;&#45;&#115;&#101;&#114;&#118;&#105;&#99;&#101;.d&#101;</a>
</p>
<p class="padding-left-2em">
<a href="tel:&plus;&#52;&#57; &#51;&#51;&#50;&#51;&#57; &#50;&#48;&#53;&#57;&#48;">&plus;&#52;&#57; &#51;&#51;&#50;&#51;&#57; &#50;&#48;&#53;&#57;&#48;</a>
</p> 
<h2>Derechos de autor</h2>
<p>Si usted, como autor o administrador del patrimonio, desea no ser citado aquí,
por favor, informe al operador por correo electrónico. Las citas que estén bajo su derecho de autor serán eliminadas de inmediato.
</p>
<h2>Disponibilidad del sitio web</h2>
<p>El operador se esforzará por ofrecer el servicio lo más libre de interrupciones posible. Sin embargo, a pesar de todos los cuidados, no se pueden descartar tiempos de inactividad. El operador se reserva el derecho de modificar o suspender la oferta en cualquier momento. No se asume ninguna garantía por las interrupciones u otras perturbaciones causadas por archivos no creados sin errores o formatos no estructurados sin errores.
<h2>Nota sobre el uso de enlaces externos</h2>
<p>Las páginas enlazadas externamente se comprueban al establecer el enlace por primera vez. Sin embargo, no se revisan constantemente los cambios en las páginas enlazadas externamente. Si el operador se entera o es informado por otros de que una oferta específica, a la que se proporcionó un enlace externo, provoca responsabilidad civil o penal, el operador eliminará la referencia a dicha oferta.</p>

<h2>Uso de los servicios</h2>
<p>Agradecemos el uso de los siguientes servicios:</p>
<ul>
  <li><a href="https://deepl.com">DeepL</a> API Free: para la traducción automática de textos</li>
  <li><a href="https://wikipedia.org">Wikipedia</a> API: para encontrar entradas de Wikipedia en otros idiomas y traducir nombres de autores</li>
</ul>

<h2>Diseño y desarrollo</h2>
<p>Para reportar errores o solicitar extensiones, por favor, cree un <a target="_blank" href="https://github.com/muhme/quote/issues">ticket</a>.</p>
<table id="environment">
  <tr><td><%= image_tag("tux.png", :alt => "Tux", :title => "Tux es la mascota de Linux")%>Servidor</td><td><%= Socket.gethostname %></td></tr>
  <tr><td><a href="https://rubyonrails.org/">Rails</a></td><td><%= Rails.version %></td></tr>
  <tr><td><%= image_tag("ruby.png", :alt => "Rubí", :title => "Rubí para el lenguaje de programación Ruby")%><a href="https://www.ruby-lang.org/">Ruby</a></td><td><%= RUBY_VERSION %></td></tr>
  <tr><td><a href="https://github.com/muhme/quote">Software</a></td><td><%= getGitVersion() %></td></tr>
  <tr><td>Entorno</td><td><%= ENV['RAILS_ENV'] %></td></tr>
</table>

<p>La aplicación web <a href="https://www.zitat-service.de">www.zitat-service.de</a> fue creada por:</p><p><a style="border: 0px;" href="https://www.consulting.heikol.de">
    <%= image_tag("systemberatung.png", :alt => "Enlace a consulting.heiko.de", :title => "Consultoría de sistemas Heiko Lübbe") %></a>
