<h1>Impressum</h1>
<p>Für die Inhalte und Dienstleistungen der Subdomains der Domain Zitat-Service.de ist der Betreiber Heiko Lübbe verantwortlich.
   Das betrifft unter anderem:</p>
<div class="padding-left-2em">
  <table id="contact">
    <tr>
      <td><%= image_tag("quote_service_16.png", :alt => "ein grüner Buchstabe Z", :title => "Zitat-Service logo") %></td>
      <td><a href="https://www.zitat-service.de/de">www.zitat-service.de</a> </td>
      <td>Web-Anwendung</td>
    </tr><tr>
      <td><%= image_tag("quote_service_16.png", :alt => "ein grüner Buchstabe Z", :title => "Zitat-Service logo") %></td>
      <td><a href="https://api.zitat-service.de">api.zitat-service.de</a></td>
      <td>Programmierschnittstelle</td>
    </tr><tr>
      <td><%= image_tag("joomla_16x16.png", :alt => "Joomla! logo", :title => "Joomla!") %></td>
      <td><a href="https://joomla.zitat-service.de/de">joomla.zitat-service.de</a></td>
      <td>Demo der Joomla-Erweiterung</td>
    </tr><tr>
      <td><%= image_tag("wordpress.png", :alt => "WordPress logo", :title => "WordPress", size: '16x16') %></td>
      <td><a href="https://wp-demo.zitat-service.de/de">wp-demo.zitat-service.de</a></td>
      <td>Demo des WordPress-Plugins</td>
      </tr>
  </table>
</div>
<p class="top_space_field">Der Betreiber ist zu erreichen unter:</p>
<p class="padding-left-2em">
Heiko Lübbe<br/>
Zum Stützpunkt 4<br/>
14641 Nauen<br/>
GERMANY
</p>
<p class="padding-left-2em">
<a href="&#109;a&#105;&#108;&#116;&#111;:&#72;e&#105;&#107;&#111;&#46;&#76;&#117;&#101;&#98;&#98;&#101;&#64;&#122;&#105;&#116;&#97;&#116;&#45;&#115;&#101;&#114;&#118;&#105;&#99;&#101;&#46;&#100;&#101;">&#72;<!-- 42 -->e&#105;&#107;&#111;&#46;&#76;&#117;&#101;&#98;&#98;&#101;&#64;&#122;&#105;&#116;&#97;&#116;&#45;&#115;&#101;&#114;&#118;&#105;&#99;&#101;.d&#101;</a>
</p>
<p class="padding-left-2em">
<a href="tel:&plus;&#52;&#57; &#51;&#51;&#50;&#51;&#57; &#50;&#48;&#53;&#57;&#48;">&plus;&#52;&#57; &#51;&#51;&#50;&#51;&#57; &#50;&#48;&#53;&#57;&#48;</a>
</p> 

<h2>1. Urheberrecht</h2>
<p>Wenn Sie mit einem oder mehreren Zitaten als Urhebende oder als verantwortliche Person für den Nachlass
   nicht in dieser Zitat-Sammlung enthalten sein möchten,
   teilen Sie dies bitte dem Betreiber per E-Mail mit.
</p>

<h2>2. Nutzungsbedingungen</h2>

<h3>2.1. Akzeptanz</h3>
<p>Mit dem Zugriff und der Nutzung der Daten und Dienste von Subdomains der Domain Zitat-Service.de
   erklären Sie sich mit diesen Nutzungsbedingungen einverstanden.</p>

<h3>2.2. Lizenzen</h3>
<p>Die Open Source Software <a href="https://github.com/muhme/quote">github.com/muhme/quote</a> für die Web-Anwendung und
  die Open Source Software <a href="https://github.com/muhme/quote_api">github.com/muhme/quote_api</a> für die API 
  werden unter der <a href="https://github.com/muhme/quote/blob/master/LICENSE">MIT Lizenz</a> bereitgestellt.</p>
<p>Die Zitat-Sammlung der Benutzergemeinschaft, die Demo- und die Hilfe-Seiten werden unter der Creative Commons Lizenz
  <a href="https://creativecommons.org/licenses/by/4.0/deed.de">CC BY 4.0</a> bereitgestellt.
</p>

<h3>2.3. Nutzungsbeschränkungen</h3>
<p>Sie dürfen die Daten und Dienste von Subdomains der Domain Zitat-Service.de nicht in einer Weise verwenden, die:</p>
<ul>
  <li>gegen Gesetze oder Vorschriften verstößt,</li>
  <li>die Rechte anderer verletzt,</li>
  <li>schädlich, betrügerisch oder täuschend ist.</li>
</ul>

<h3>2.4. Änderungen</h3>
<p>Die Daten und Dienste der Subdomains der Domain Zitat-Service.de
   können mit oder ohne vorherige Ankündigung vorübergehend oder dauerhaft geändert oder eingestellt werden.
</p>

<h3>2.5. Gewährleistungsausschluss</h3>
<p>Der Betreiber wird sich bemühen, die Dienste möglichst ohne Unterbrechungen bereitzustellen.
   Aber auch bei größter Sorgfalt können Ausfallzeiten nicht ausgeschlossen werden.
   Die Daten und Dienste der Subdomains der Domain Zitat-Service.de
   werden „wie gesehen” und „nach Verfügbarkeit” bereitgestellt.
</p>

<h3>2.6. Begrenzung der Haftung</h3>
<p>Der Betreiber haftet in keinem Fall für direkte oder indirekte Schäden,
   die durch die Nutzung der Daten und Dienste der Subdomains der Domain Zitat-Service.de entstehen.
</p>

<h3>2.7. Änderung der Bedingungen</h3>
<p>Der Betreiber behält sich das Recht vor, diese Nutzungsbedingungen jederzeit zu ändern.
   Wenn Sie die Daten und Dienste der Subdomains der Domain Zitat-Service.de nach solchen Änderungen
   weiterhin nutzen, erklären Sie sich mit den neuen Bedingungen und Konditionen einverstanden.
</p>

<h2>3. Erklärung zum Datenschutz</h2>
<p>Diese Datenschutzerklärung vom 13. Februar 2024 umfasst alle Daten und Dienste der Subdomains der Domain Zitat-Service.de.
  Der Schutz Ihrer personenbezogener Daten unterliegt der
   <a href="https://eur-lex.europa.eu/legal-content/DE/TXT/HTML/?uri=CELEX:32016R0679">Datenschutz-Grundverordnung</a>
   der Europäischen Union.</p>

<h3>3.1. Auskunft, Berichtigung, Sperre, Löschung oder Widerspruch</h3>
<p>Sie haben das Recht auf Auskunft, Berichtigung, Sperre, Löschung oder Widerspruch, Ihrer, bei Zitat-Service.de gespeicherten personenbezogenen Daten.
   Bitte wenden Sie sich an den Betreiber Heiko Lübbe.</p>

<h3>3.2. Sammlung und Verwendung von Protokoll-Informationen</h3>
<p>Wenn Sie eine Anfrage an eine der unter den Subdomains von Zitat-Service.de gehosteten Websites senden,
   dann können diese Aufrufe protokolliert werden. Dies kann u.a. Folgendes beinhalten:</p>
   <ul>
     <li>Aufrufdetails (wie z.B. Datum, Uhrzeit oder Antwortdauer),</li>
     <li>technische Informationen (wie z.B. IP-Adresse oder Zugangsgerät) oder</li>
     <li>die Speicherung der Benutzeranmeldung.</li>
   </ul>
<p>Diese Daten werden erhoben, um die korrekte Funktion der Dienste sicherzustellen,
   die Leistung zu verbessern und Fehler zu analysieren. Die erhobenen Daten werden nur so lange aufbewahrt,
   wie es zur Erfüllung der genannten Zwecke erforderlich ist. Sobald die Notwendigkeit der Datenspeicherung
   entfällt, löschen wir die Daten.
</p>

<h3>3.3. Speicherung und Nutzung der Zitat-Sammlung</h3> 
<p>Die Zitat-Sammlung der Benutzergemeinschaft speichert Benutzerdaten und von Benutzern erstellte Inhalte.
  Das kann u.a. Folgendes beinhalten:</p>
<ul>
  <li>Benutzerdetails (wie z.B. Benutzername, Einweg-verschlüsseltes Passwortes oder E-Mail-Adresse),</li>
  <li>Verwaltungsinformationen (wie z.B. Erstellungs-Zeitpunkt oder Ersteller) und</li>
  <li>Inhalte (wie z.B. Zitate, Kategorien oder Kommentare).</li>
</ul>
<p>Diese Daten werden für die Funktion der Zitat-Sammlung dauerhaft gespeichert.
   Die von Ihnen erstellten Inhalte können auf Wunsch anonymisiert werden.</p>

<h3>3.4. Datensicherheit</h3>
<p>Wir ergreifen angemessene Maßnahmen, um die Daten vor Verlust, Diebstahl, Missbrauch und unbefugtem Zugriff,
   Offenlegung, Änderung und Zerstörung zu schützen.</p>

<h3>3.5. Cookies</h3>
<p>Cookies sind Textdateien, die temporär im Browser eines Website-Nutzers gespeichert werden.
   Bei der Nutzung der Subdomains von Zitat-Service.de werden nur technisch unbedingt notwendige Cookies für die Anmeldung gesetzt.
</p>

<h3>3.6. Änderungen der Datenschutzerklärung</h3>
<p>Der Betreiber behält sich das Recht vor, diese Datenschutzerklärung jederzeit zu ändern.
   Wir werden Sie über die Änderung informieren, indem wir das Datum am Anfang der Datenschutzerklärung aktualisieren.
</p>

<h2>4. Hinweis zur Verwendung externer Links</h2>
<p>Extern verlinkte Seiten werden bei der erstmaligen Verknüpfung überprüft.
   Es wird aber nicht ständig auf Veränderungen in extern verlinkten Seiten geprüft.
   Wenn der Betreiber feststellt oder von anderen darauf hingewiesen wird,
   dass ein konkretes Angebot, auf das extern verlinkt wurde,
   eine zivil- oder strafrechtliche Verantwortlichkeit auslöst,
   wird der Betreiber den Verweis auf dieses Angebot löschen.
</p>

<h2>5. Nutzung von Services</h2>
<p>Wir bedanken uns für die Nutzung folgender Services:</p>
<ul>
  <li><a href="https://deepl.com">DeepL</a> API Free – um Texte maschinell zu übersetzen und</li>
  <li><a href="https://wikipedia.org">Wikipedia</a> API – um Wikipedia-Einträge in anderen Sprachen zu finden und die Namen von Autorinnen und Autoren zu übersetzen.</li>
</ul>

<h2>6. Design &amp; Entwicklung</h2>
<p>Bei Fehlern oder Erweiterungswünschen bitte ein <a target="_blank" href="https://github.com/muhme/quote/issues">Ticket</a> erstellen.
   Diese Web-Anwendung basiert auf:
</p>
<div class="padding-left-2em">
  <table id="contact">
    <tr>
      <td><%= image_tag("tux.png", :alt => "Tux", :title => "Tux ist das Maskottchen für Linux")%></td>
      <td>Server</td>
      <td><%= Socket.gethostname %></td>
    </tr><tr>
      <td><%= image_tag("rails_32.png", :height => 16, :alt => "Rubin", :title => "Rubin für die Programmiersprache Ruby")%></td>
      <td><a href="https://rubyonrails.org/">Ruby on Rails</a></td>
      <td><%= Rails.version %></td>
    </tr><tr>
      <td><%= image_tag("ruby.png", :alt => "Rubin", :title => "Rubin für die Programmiersprache Ruby")%></td>
      <td><a href="https://www.ruby-lang.org/">Ruby</a></td>
      <td><%= RUBY_VERSION %></td>
    </tr><tr>
      <td><%= image_tag("quote_service_16.png", :alt => "ein grünes Z", :title => "Zitat-Service logo") %></td>
      <td><a href="https://github.com/muhme/quote">Software</a> vom</td>
      <td><%= getGitVersion() %></td>
      </tr><tr>
        <td>&nbsp;</td>
        <td>Umgebung</td>
        <td><%= Rails.env %></td>
      </tr>
  </table>
</div>

<p class="top_space_field">Die Webanwendung <a href="https://www.zitat-service.de">www.zitat-service.de</a> und
die Programmierschnittstelle <a href="https://api.zitat-service.de">api.zitat-service.de</a>
wurde erstellt durch:</p>
<div class="padding-left-2em">
  <a style="border: 0px;" href="https://www.consulting.heikol.de">
  <%= image_tag("systemberatung.png", :alt => "Logo roter Punkt und balue Umrandung, Schriftzug in blau Systemberatung Heiko Lübbe, darunter in rot die Wörter Ziele, Projekte und Erfolge", :title => "Systemberatung Heiko Lübbe") %></a>
</div>
