<h1>インプリント</h1>
<p>運営者ハイコ・リュッベは、ドメインZitat-Service.deのサブドメインのコンテンツとサービスに責任を負います。
   これには特に以下が含まれます：</p>
<div class="padding-left-2em">
  <table id="contact">
    <tr>
      <td><div id="logo16"></div></td>
      <td><a href="https://www.zitat-service.de/ja">www.zitat-service.de</a> </td>
      <td>ウェブアプリケーション</td>
    </tr><tr>
      <td><div id="logo16"></div></td>
      <td><a href="https://api.zitat-service.de">api.zitat-service.de</a></td>
      <td>プログラミング・インターフェース</td>
    </tr><tr>
      <td><%= image_tag("joomla_16x16.png", :alt => "Joomla! logo", :title => "Joomla!") %></td>
      <td><a href="https://joomla.zitat-service.de/ja">joomla.zitat-service.de</a></td>
      <td>Joomlaエクステンションのデモ</td>
    </tr><tr>
      <td><%= image_tag("wordpress.png", :alt => "WordPress logo", :title => "WordPress", size: '16x16') %></td>
      <td><a href="https://wp-demo.zitat-service.de/ja">wp-demo.zitat-service.de</a></td>
      <td>WordPressプラグインのデモ</td>
      </tr>
  </table>
</div>
<p class="top_space_field">オペレーターの連絡先は以下の通り：</p>
<p class="padding-left-2em">
Heiko Lübbe<br/>
R&#x61;th&#97;usstr.&nbsp;&#50;&#x36;<br/>
14&#54;&#x36;9 Ke&#x74;zin/Havel<br/>
GERMANY
</p>
<p class="padding-left-2em">
<a href="&#109;a&#105;&#108;&#116;&#111;:&#72;e&#105;&#107;&#111;&#46;&#76;&#117;&#101;&#98;&#98;&#101;&#64;&#122;&#105;&#116;&#97;&#116;&#45;&#115;&#101;&#114;&#118;&#105;&#99;&#101;&#46;&#100;&#101;">&#72;<!-- 42 -->e&#105;&#107;&#111;&#46;&#76;&#117;&#101;&#98;&#98;&#101;&#64;&#122;&#105;&#116;&#97;&#116;&#45;&#115;&#101;&#114;&#118;&#105;&#99;&#101;.d&#101;</a>
</p>
<p class="padding-left-2em">
<a href="tel:&plus;&#52;&#57; &#51;&#51;&#50;&#51;&#51; &#50;69604">&plus;&#52;&#57; &#51;&#51;&#50;&#51;&#51; &#50;69604</a>
</p> 

<h2>1. 著作権</h2>
<p>もしあなたが、引用の原作者として、または引用集に責任を持つ遺産管理者として、
   この引用集に含まれることを望まない場合は、運営者にメールでお知らせください。
</p>

<h2>2. 利用規約</h2>

<h3>2.1. 受諾</h3>
<p>Zitat-Service.deのドメインのサブドメインのデータとサービスにアクセスして使用することにより、
   あなたはこれらの利用規約に同意したことになります。</p>

<h3>2.2. ライセンス</h3>
<p>ウェブアプリケーション用のオープンソースソフトウェア <a href="https://github.com/muhme/quote">github.com/muhme/quote</a> と
   API用のオープンソースソフトウェア <a href="https://github.com/muhme/quote_api">github.com/muhme/quote_api</a> は、
   <a href="https://github.com/muhme/quote/blob/master/LICENSE">MITライセンス</a>の下で提供されています。</p>
<p>ユーザーコミュニティの引用集、デモ、およびヘルプページは、クリエイティブコモンズライセンス
   <a href="https://creativecommons.org/licenses/by/4.0/deed.ja">CC BY 4.0</a>の下で提供されています。
</p>

<h3>2.3. 使用制限</h3>
<p>Zitat-Service.deのドメインのサブドメインのデータとサービスを、次のような方法で使用してはなりません:</p>
<ul>
  <li>法律または規則に違反すること、</li>
  <li>他人の権利を侵害すること、</li>
  <li>有害、詐欺的、または欺瞞的であること。</li>
</ul>

<h3>2.4. 変更</h3>
<p>Zitat-Service.deのドメインのサブドメインのデータとサービスは、
   予告なしに一時的または恒久的に変更または中止されることがあります。
</p>

<h3>2.5. 保証の放棄</h3>
<p>運営者は、サービスを中断なく提供するよう努めます。
   しかし、最大限の注意を払っても、ダウンタイムは排除できないことがあります。
   Zitat-Service.deのドメインのサブドメインのデータとサービスは、「現状のまま」および「利用可能な状態で」提供されます。
</p>

<h3>2.6. 責任の制限</h3>
<p>運営者は、Zitat-Service.deのドメインのサブドメインのデータとサービスの使用に起因する直接または間接的な損害について、
   責任を負いません。
</p>

<h3>2.7. 利用規約の変更</h3>
<p>運営者は、いつでもこれらの利用規約を変更する権利を留保します。
   このような変更の後にZitat-Service.deのドメインのサブドメインのデータとサービスを引き続き使用する場合、
   あなたは新しい利用規約に同意したことになります。
</p>

<h2>3. プライバシーポリシー</h2>
<p>2024年2月13日付けのこのプライバシーポリシーは、Zitat-Service.deのドメインのサブドメインのすべてのデータとサービスに適用されます。
   あなたの個人データの保護は、
   <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:32016R0679">ヨーロッパ連合の一般データ保護規則</a>
   に基づいています。</p>

<h3>3.1. 情報、訂正、ブロッキング、削除、または異議</h3>
<p>Zitat-Service.deで保存されているあなたの個人データに関する情報、訂正、ブロッキング、削除、または異議の権利があります。
   運営者ハイコ・リュッベに連絡してください。</p>

<h3>3.2. ログ情報の収集と使用</h3>
<p>Zitat-Service.deのサブドメインのいずれかのウェブサイトにリクエストを送信すると、
   これらのリクエストが記録される場合があります。これには、以下が含まれる場合があります:</p>
<ul>
  <li>リクエストの詳細（日付、時間、または応答時間など）、</li>
  <li>技術情報（IPアドレスやアクセスデバイスなど）または</li>
  <li>ユーザーログインの保存。</li>
</ul>
<p>このデータは、サービスの正確な機能を確保するため、
   パフォーマンスを向上させ、エラーを分析するために収集されます。収集されたデータは、前述の目的のために必要な限り保持されます。
   データ保存の必要性がなくなった場合、当社はデータを削除します。
</p>

<h3>3.3. 引用集の保存と使用</h3> 
<p>ユーザーコミュニティの引用集は、ユーザーデータとユーザーが生成したコンテンツを保存します。
   これには、以下が含まれる場合があります:</p>
<ul>
  <li>ユーザーの詳細（ユーザー名、一方向暗号化されたパスワード、またはメールアドレスなど）、</li>
  <li>管理情報（作成時間や作成者など）、および</li>
  <li>コンテンツ（引用、カテゴリー、またはコメントなど）。</li>
</ul>
<p>このデータは、引用集の機能のために永続的に保存されます。
   あなたが作成したコンテンツは、要求に応じて匿名化することができます。
</p>

<h3>3.4. データセキュリティ</h3>
<p>データの紛失、盗難、悪用、および不正アクセス、
   開示、改ざん、破壊から保護するための適切な措置を講じています。</p>

<h3>3.5. クッキー</h3>
<p>クッキーは、ウェブサイトのユーザーのブラウザに一時的に保存されるテキストファイルです。
   Zitat-Service.deのサブドメインを使用する際には、ログインに必要な技術的に必要なクッキーのみが設定されます。
</p>

<h3>3.6. プライバシーポリシーの変更</h3>
<p>運営者は、このプライバシーポリシーをいつでも変更する権利を留保します。
   プライバシーポリシーの冒頭で日付を更新することによって、変更についてお知らせします。
</p>

<h2>4. 外部リンクの使用に関する注意</h2>
<p>外部にリンクされたページは、最初のリンクの時点で確認されます。
   しかし、外部リンクされたページの変更に対する継続的な監視は行われません。
   特定の提供に外部リンクがある場合、その提供が民事または刑事の責任を発生させることが運営者に知らされた場合、
   運営者はこの提供への参照を削除します。
</p>

<h2>5. サービスの使用</h2>
<p>以下のサービスのご利用ありがとうございます：</p>
<ul>
  <li><a href="https://deepl.com">DeepL</a> API Free – テキストの機械翻訳用、および</li>
  <li><a href="https://ja.wikipedia.org">Wikipedia</a> API – 他の言語のWikipediaエントリを見つけ、著者の名前を翻訳するために。</li>
  <li><a href="https://ja.gravatar.com/">Gravatar</a> – 初期設定のためにメールアドレスのアバターを引き継ぐ</li>
</ul>

<h2>6. デザイン & 開発</h2>
<p>エラーや改善要望については、<a target="_blank" href="https://github.com/muhme/quote/issues">チケット</a>を作成してください。
   このウェブアプリケーションは次のものに基づいています:
</p>
<div class="padding-left-2em">
  <table id="contact">
    <tr>
      <td><%= image_tag("tux.png", :alt => "Tux", :title => "TuxはLinuxのマスコットです")%></td>
      <td>サーバー</td>
      <td><%= Socket.gethostname %></td>
    </tr><tr>
      <td><%= image_tag("rails_32.png", :height => 16, :alt => "Ruby", :title => "プログラミング言語RubyのためのRuby")%></td>
      <td><a href="https://rubyonrails.org/">Ruby on Rails</a></td>
      <td><%= Rails.version %></td>
    </tr><tr>
      <td><%= image_tag("ruby.png", :alt => "Ruby", :title => "プログラミング言語RubyのためのRuby")%></td>
      <td><a href="https://www.ruby-lang.org/">Ruby</a></td>
      <td><%= RUBY_VERSION %></td>
    </tr><tr>
      <td><div id="logo16"></div></td>
      <td><a href="https://github.com/muhme/quote">ソフトウェア</a> from</td>
      <td><%= getGitVersion() %></td>
      </tr><tr>
        <td>&nbsp;</td>
        <td>環境</td>
        <td><%= Rails.env %></td>
      </tr>
  </table>
</div>

<p class="top_space_field">ウェブアプリケーション <a href="https://www.Zitat-Service.de/ja">www.Zitat-Service.de</a> と
プログラミングインターフェース <a href="https://api.Zitat-Service.de">api.Zitat-Service.de</a>
は、以下によって作成されました:</p>
<div class="padding-left-2em">
  <a style="border: 0px;" href="https://www.consulting.heikol.de/en">
  <%= image_tag("systemberatung.png", :alt => "ロゴは赤い点と青い枠、青いスクリプトでシステムベラトゥンク・ハイコ・リュッベ、下に赤い文字で目標、プロジェクト、成功", :title => "システムベラトゥンク・ハイコ・リュッベ") %></a>
</div>
