<h1>Imprint</h1>
<p>The operator Heiko Lübbe is responsible for the contents and services of the subdomains of the domain Zitat-Service.de.
   This includes, among others:</p>
<div class="padding-left-2em">
  <table id="contact">
    <tr>
      <td><div id="logo16"></div></td>
      <td><a href="https://www.zitat-service.de/en">www.zitat-service.de</a> </td>
      <td>Web-Application</td>
    </tr><tr>
      <td><div id="logo16"></div></td>
      <td><a href="https://api.zitat-service.de">api.zitat-service.de</a></td>
      <td>Application Programming Interface (API)</td>
    </tr><tr>
      <td><%= image_tag("joomla_16x16.png", :alt => "Joomla! logo", :title => "Joomla!") %></td>
      <td><a href="https://joomla.zitat-service.de/en">joomla.zitat-service.de</a></td>
      <td>Joomla-extension demo</td>
    </tr><tr>
      <td><%= image_tag("wordpress.png", :alt => "WordPress logo", :title => "WordPress", size: '16x16') %></td>
      <td><a href="https://wp-demo.zitat-service.de/en">wp-demo.zitat-service.de</a></td>
      <td>WordPress-plugin demo</td>
      </tr>
  </table>
</div>
<p class="top_space_field">The operator can be reached at:</p>
<p class="padding-left-2em">
Heiko Lübbe<br/>
Zum Stützpunkt 4<br/>
14641 Nauen<br/>
GERMANY
</p>
<p class="padding-left-2em">
<a href="&#109;a&#105;&#108;&#116;&#111;:&#72;e&#105;&#107;&#111;&#46;&#76;&#117;&#101;&#98;&#98;&#101;&#64;&#122;&#105;&#116;&#97;&#116;&#45;&#115;&#101;&#114;&#118;&#105;&#99;&#101;&#46;&#100;&#101;">&#72;<!-- 42 -->e&#105;&#107;&#111;&#46;&#76;&#117;&#101;&#98;&#98;&#101;&#64;&#122;&#105;&#116;&#97;&#116;&#45;&#115;&#101;&#114;&#118;&#105;&#99;&#101;.d&#101;</a>
</p>
<p class="padding-left-2em">
<a href="tel:&plus;&#52;&#57; &#51;&#51;&#50;&#51;&#57; &#50;&#48;&#53;&#57;&#48;">&plus;&#52;&#57; &#51;&#51;&#50;&#51;&#57; &#50;&#48;&#53;&#57;&#48;</a>
</p> 

<h2>1. Copyright</h2>
<p>If you do not wish to be included in this quote collection with one or more citations as the originator
   or as the person responsible for the estate not wish to be included in this citation collection,
   please inform the operator by email.
</p>

<h2>2. Terms of Use</h2>

<h3>2.1. Acceptance</h3>
<p>By accessing and using the data and services of subdomains of the domain Zitat-Service.de,
   you agree to these terms of use.</p>

<h3>2.2. Licenses</h3>
<p>The open source software <a href="https://github.com/muhme/quote">github.com/muhme/quote</a> for the web application and
  the open source software <a href="https://github.com/muhme/quote_api">github.com/muhme/quote_api</a> for the API 
  are provided under the <a href="https://github.com/muhme/quote/blob/master/LICENSE">MIT License</a>.</p>
<p>The quote collection of the user community, the demo, and the help pages are provided under the Creative Commons License
  <a href="https://creativecommons.org/licenses/by/4.0/deed.en">CC BY 4.0</a>.
</p>

<h3>2.3. Usage Restrictions</h3>
<p>You may not use the data and services of subdomains of the domain Zitat-Service.de in a manner that:</p>
<ul>
  <li>violates laws or regulations,</li>
  <li>infringes upon the rights of others,</li>
  <li>is harmful, fraudulent, or deceptive.</li>
</ul>

<h3>2.4. Changes</h3>
<p>The data and services of the subdomains of the domain Zitat-Service.de
   may be changed or discontinued temporarily or permanently with or without prior notice.
</p>

<h3>2.5. Disclaimer of Warranty</h3>
<p>The operator will strive to provide the services without interruptions.
   However, despite utmost care, downtime cannot be excluded.
   The data and services of the subdomains of the domain Zitat-Service.de
   are provided "as is" and "as available".
</p>

<h3>2.6. Limitation of Liability</h3>
<p>The operator shall not be liable for any direct or indirect damages,
   resulting from the use of the data and services of the subdomains of the domain Zitat-Service.de.
</p>

<h3>2.7. Modification of Terms</h3>
<p>The operator reserves the right to change these terms of use at any time.
   If you continue to use the data and services of the subdomains of the domain Zitat-Service.de after such changes,
   you agree to the new terms and conditions.
</p>

<h2>3. Privacy Statement</h2>
<p>This Privacy Policy dated February 13, 2024, covers all data and services of the subdomains of the domain Zitat-Service.de.
  The protection of your personal data is subject to the
   <a href="https://eur-lex.europa.eu/legal-content/EN/TXT/HTML/?uri=CELEX:32016R0679">General Data Protection Regulation</a>
   of the European Union.</p>

<h3>3.1. Information, Correction, Blocking, Deletion, or Objection</h3>
<p>You have the right to information, correction, blocking, deletion, or objection regarding your personal data stored at Zitat-Service.de.
   Please contact the operator Heiko Lübbe.</p>

<h3>3.2. Collection and Use of Log Information</h3>
<p>When you send a request to one of the websites hosted under the subdomains of Zitat-Service.de,
   these requests may be logged. This may include, among others:</p>
   <ul>
     <li>Request details (such as date, time, or response time),</li>
     <li>Technical information (such as IP address or access device) or</li>
     <li>User login storage.</li>
   </ul>
<p>This data is collected to ensure the correct functioning of the services,
   to improve performance and analyze errors. The collected data will only be retained as long as necessary
   for the purposes mentioned. Once the need for data storage no longer exists, we delete the data.
</p>

<h3>3.3. Storage and Use of the Quote Collection</h3> 
<p>The user community's quote collection stores user data and user-generated content.
  This may include, among others:</p>
<ul>
  <li>User details (such as username, one-way encrypted password, or email address),</li>
  <li>Administration information (such as creation time or creator) and</li>
  <li>Content (such as quotes, categories, or comments).</li>
</ul>
<p>This data is stored permanently for the function of the quote collection.
   The content you create can be anonymized upon request.</p>

<h3>3.4. Data Security</h3>
<p>We take appropriate measures to protect the data against loss, theft, misuse, and unauthorized access,
   disclosure, alteration, and destruction.</p>

<h3>3.5. Cookies</h3>
<p>Cookies are text files that are temporarily stored in the browser of a website user.
   When using the subdomains of Zitat-Service.de, only technically necessary cookies for the login are set.
</p>

<h3>3.6. Changes to the Privacy Policy</h3>
<p>The operator reserves the right to change this Privacy Policy at any time.
   We will inform you about the change by updating the date at the beginning of the Privacy Policy.
</p>

<h2>4. Note on the Use of External Links</h2>
<p>Externally linked pages are checked at the time of the initial link.
   However, continuous monitoring of changes in externally linked pages is not conducted.
   If the operator becomes aware or is notified by others that a specific offer, to which there is an external link,
   triggers civil or criminal liability, the operator will remove the reference to this offer.
</p>

<h2>5. Use of Services</h2>
<p>We thank you for using the following services:</p>
<ul>
  <li><a href="https://deepl.com">DeepL</a> API Free – for machine translation of texts, and</li>
  <li><a href="https://en.wikipedia.org">Wikipedia</a> API – to find Wikipedia entries in other languages and
      translate the names of authors.</li>
  <li><a href="https://gravatar.com/">Gravatar</a> – to take the avatar of an e-mail address as the initial setup</li>
</ul>

<h2>6. Design & Development</h2>
<p>For errors or enhancement requests, please create a <a target="_blank" href="https://github.com/muhme/quote/issues">ticket</a>.
   This web application is based on:
</p>
<div class="padding-left-2em">
  <table id="contact">
    <tr>
      <td><%= image_tag("tux.png", :alt => "Tux", :title => "Tux is the mascot for Linux")%></td>
      <td>Server</td>
      <td><%= Socket.gethostname %></td>
    </tr><tr>
      <td><%= image_tag("rails_32.png", :height => 16, :alt => "Ruby", :title => "Ruby for the programming language Ruby")%></td>
      <td><a href="https://rubyonrails.org/">Ruby on Rails</a></td>
      <td><%= Rails.version %></td>
    </tr><tr>
      <td><%= image_tag("ruby.png", :alt => "Ruby", :title => "Ruby for the programming language Ruby")%></td>
      <td><a href="https://www.ruby-lang.org/">Ruby</a></td>
      <td><%= RUBY_VERSION %></td>
    </tr><tr>
      <td><div id="logo16"></div></td>
      <td><a href="https://github.com/muhme/quote">Software</a> from</td>
      <td><%= getGitVersion() %></td>
      </tr><tr>
        <td>&nbsp;</td>
        <td>Environment</td>
        <td><%= Rails.env %></td>
      </tr>
  </table>
</div>

<p class="top_space_field">The web application <a href="https://www.Zitat-Service.de/en">www.Zitat-Service.de</a> and
the programming interface <a href="https://api.Zitat-Service.de">api.Zitat-Service.de</a>
were created by:</p>
<div class="padding-left-2em">
  <a style="border: 0px;" href="https://www.consulting.heikol.de/en">
  <%= image_tag("systemberatung.png", :alt => "Logo red dot and blue border, blue script saying Systemberatung Heiko Lübbe, underneath in red the words Goals, Projects, and Successes", :title => "Systemberatung Heiko Lübbe") %></a>
</div>
