<h1>Контакти</h1>
<p>Оператор Гайко Люббе несе відповідальність за зміст веб-сайту <a href="https://www.zitat-service.de">zitat-service.de</a>:</p>
<p class="padding-left-2em">
Heiko Lübbe<br/>
Zum Stützpunkt 4<br/>
14641 Nauen<br/>
GERMANY
</p>
<p class="padding-left-2em">
<a href="&#109;a&#105;&#108;&#116;&#111;:&#72;e&#105;&#107;&#111;&#46;&#76;&#117;&#101;&#98;&#98;&#101;&#64;&#122;&#105;&#116;&#97;&#116;&#45;&#115;&#101;&#114;&#118;&#105;&#99;&#101;&#46;&#100;&#101;">&#72;<!-- 42 -->e&#105;&#107;&#111;&#46;&#76;&#117;&#101;&#98;&#98;&#101;&#64;&#122;&#105;&#116;&#97;&#116;&#45;&#115;&#101;&#114;&#118;&#105;&#99;&#101;.d&#101;</a>
</p>
<p class="padding-left-2em">
<a href="tel:&plus;&#52;&#57; &#51;&#51;&#50;&#51;&#57; &#50;&#48;&#53;&#57;&#48;">&plus;&#52;&#57; &#51;&#51;&#50;&#51;&#57; &#50;&#48;&#53;&#57;&#48;</a>
</p> 
<h2>Авторське право</h2>
<p>Якщо ви як автор або представник автора бажаєте, щоб ваші цитати не використовувалися на цьому сайті, будь ласка, повідомте оператора електронною поштою. Цитати, які підпадають під ваше авторське право, будуть негайно видалені.
</p>
<h2>Доступність веб-сайту</h2>
<p>Оператор намагатиметься забезпечити безперебійний доступ до сервісу. Проте, навіть з усією увагою, час від часу можуть виникати збої. Оператор залишає за собою право змінювати або припиняти надання послуг будь-коли. За перерви або інші перешкоди, спричинені некоректно створеними файлами або форматами, не надається гарантії.
<h2>Посилання на зовнішні ресурси</h2>
<p>Сторінки зовнішніх посилань перевіряються при першому створенні зв'язку. Однак оператор не може постійно перевіряти зміни на зовнішніх сторінках. Якщо оператор виявить або йому повідомлять про конкретний ресурс, на який здійснюється посилання, та який порушує цивільне або кримінальне законодавство, оператор видалить посилання на цей ресурс.</p>

<h2>Використання послуг</h2>
<p>Ми вдячні за використання наступних послуг:</p>
<ul>
  <li><a href="https://deepl.com">DeepL</a> API Free – для машинного перекладу текстів</li>
  <li><a href="https://wikipedia.org">Wikipedia</a> API – для пошуку статей у Вікіпедії на інших мовах та перекладу імен авторів</li>
</ul>

<h2>Дизайн та розробка</h2>
<p>У разі помилок або побажань щодо розширення, будь ласка, створіть <a target="_blank" href="https://github.com/muhme/quote/issues">квиток</a>.</p>
<table id="environment">
  <tr><td><%= image_tag("tux.png", :alt => "Tux", :title => "Тукс - талісман Linux")%>Сервер</td><td><%= Socket.gethostname %></td></tr>
  <tr><td><a href="https://rubyonrails.org/">Rails</a></td><td><%= Rails.version %></td></tr>
  <tr><td><%= image_tag("ruby.png", :alt => "Рубін", :title => "Рубін для мови програмування Ruby")%><a href="https://www.ruby-lang.org/">Ruby</a></td><td><%= RUBY_VERSION %></td></tr>
  <tr><td><a href="https://github.com/muhme/quote">ПЗ</a></td><td><%= getGitVersion() %></td></tr>
  <tr><td>Середовище</td><td><%= ENV['RAILS_ENV'] %></td></tr>
</table>

<p>Веб-додаток <a href="https://www.zitat-service.de">www.zitat-service.de</a> було створено:</p><p><a style="border: 0px;" href="https://www.consulting.heikol.de">
    <%= image_tag("systemberatung.png", :alt => "Посилання на consulting.heiko.de", :title => "Системний консалтинг Хайко Люббе") %></a>
</p>
