<h1>Допомога</h1>
<p>Раді, що ви тут. Служба цитат zitat-service.de надає вам персоналізовану колекцію цитат, відсортованих за авторами та категоріями. Після <%= link_to 'входу в систему', '/uk/login' %>, ви можете створювати власні цитати. Ми вже зібрали <%= nice_number(Quotation.count) %> цитат від <%= nice_number(Author.count) %> авторів та організували їх у <%= nice_number(Category.count) %> категорій. Наш сервіс доступний з 2007 року і є абсолютно безкоштовним та без реклами.</p>
<p>Якщо ви хочете вбудувати наші цитати на власній домашній сторінці, ви знайдете інструкції з цього питання за посиланням <a href="/uk/start/use">Вбудувати</a>.</p>

<h2>Ласкаво просимо</h2>
<p>Щоб повернутися на домашню сторінку веб-додатку, просто натисніть на логотип <%= image_tag("quote_service_16.png", :alt => "Логотип", :title => "www.zitat-service.de") %> у верхньому лівому куті. Там є, наприклад, текстовий пошук за всіма цитатами.</p>

<h2>Вибір мови 🇺🇦</h2>
<p>
  Натиснувши на прапорець, ви можете вибрати бажану мову.
  Прямий доступ також можливий, наприклад, для англійської мови:
  <a href="https://www.zitat-service.de/en/">https://www.zitat-service.de/en/</a>.
</p><p>
  Цитати, категорії та коментарі створюються на мові, яка вибрана в даний момент.
  Після цього категорії автоматично перекладаються на інші мови.
  Будь ласка, зверніть увагу, що для англійської мови ми використовуємо американський правопис.
</p></p>
  Англійська - це основна мова нашого веб-застосунку.
  Якщо деякі поля (наприклад, веб-посилання) не заповнені іншими мовами,
  ми автоматично доповнюємо їх інформацією з англійської версії.
  Це гарантує, що вам завжди доступна вся необхідна інформація."
<p>

<h2>Оновлення запису користувача</h2>
<!-- 205.png is 'Бо' -->
<p><%= image_tag("#{AVATARS_URL}/205.png", class: "avatar float-left margin-right-1em") %>Натиснувши на свій аватар,
   ви перейдете на сторінку, де зможете змінити ім'я користувача, адресу електронної пошти, пароль і зображення аватара.
  Початкове зображення аватара буде створено автоматично шляхом поєднання перших двох літер вашого імені користувача
  з випадково вибраним кольором. Якщо до вашої адреси електронної пошти вже прив'язаний граватар, він буде автоматично
  використаний як ваш аватар. Крім того, ви можете завантажити власне зображення і використовувати його як аватар.
</p>

<div class="large_right"><%= image_tag("autocomplete.gif", :alt => "Показано створення цитати.", :title => "Переглянути", :border => 1, size: '466x315') %><br />Приклад: <%= link_to 'Und jedem Anfang wohnt ein Zauber inne ...', '/uk/quotations/898' %></div>
<h2>Цитати</h2>
<p>У списку <%= link_to 'цитат', '/uk/quotations' %>, ви можете переглянути всі деталі цитати, натиснувши на око <%= image_tag("eye.png", :alt => "Око", :title => "Перегляд") %>. Якщо ви увійшли в систему, ви можете вводити нові цитати. Ти можеш редагувати свої власні цитати, натиснувши на олівець <%= image_tag("pencil.png", :alt => "Олівець", :title => "Редагувати") %>, або видалити їх, натиснувши на червоний хрестик <%= image_tag("cancel.png", :alt => "Червоний хрест", :title => "Видалити") %>. Зверніть увагу, що видалення можливе лише у випадку, якщо у цитати немає коментарів.</p>
<p>Під час додавання нової цитати, ви можете вибрати автора, вводячи перші літери прізвища. Якщо ви не знаєте автора, просто залиште поле порожнім.</p>
<p>Будь ласка, наведіть первісне джерело для вашої цитати, наприклад назву книги. Якщо ви знаєте документ в Інтернеті, де можна знайти цитату в оригінальному тексті, наведіть посилання. Не посилайтеся на сторінки, де можна купити книгу або отримати іншу інформацію.</p>
<p>Ви можете призначити своїй цитаті стільки категорій, скільки бажаєте. Категорії, які вже були знайдені у вигляді слів у цитаті, можна додати, натиснувши на іконку блискавки <%= image_tag("lightning.png", :alt => "Блискавка", :title => "Відзначити для пропозицій") %> icon.</p>
<p>Якщо ви помітите, що відсутній автор або категорія, ви можете додати їх самостійно. Натисніть на <%= link_to 'Створити Автора', '/uk/authors/new' %> або <%= link_to 'Створити Категорію', '/uk/categories/new' %>. Після цього ви можете додати автора або категорію, редагуючи свою цитату.</p>

<h2 id="copyright">Авторські права</h2>
<p>Зверніть увагу, що цитати також підлягають німецькому законодавству про авторське право. Це означає, що авторські твори не можуть використовуватися без дозволу автора. Допускаються окремі цитати, але від одного автора має бути не більше п'яти-десяти цитат. Що стосується перекладів, майте на увазі, що перекладач користується захистом авторського права так само, як і автор.</p>
<p>Щоб використовувати цитату відповідно до закону про авторські права, ви повинні навести джерело. Зазвичай воно складається з назви книги, року видання та номера сторінки.</p>
<p>Оскільки було повідомлено про припинення та призупинення дії, ми не приймаємо цитат від Карла Валентина, Еріха Кестнера чи Хайнца Ерхардта (дивіться, наприклад, <a href="http://www1.wdr.de/themen/archiv/sp_urheberrecht/valentin100.html">Karl Valentin und die Anwälte</a>, WDR 2012).</p>
</p>
<p>Цитати від авторів, які померли більше ніж 70 років тому, належать до суспільного надбання та можуть вільно використовуватися.</p>

<h2>Перевірка Цитат</h2>
<p>Коли створюється нова цитата, будь ласка, вкажіть джерело,
   щоб уникнути неправильного цитування. Багато так званих цитат були спотворені,
   просто вигадані або помилково приписані автору як кукушине цитування.</p>
<p>Перевірку можна здійснити за допомогою <a href="https://uk.wikiquote.org">Wikiquote</a>.</p>
<p>Якщо цитата чи автор не чітко підтверджені, будь ласка, прокоментуйте цитату,
   щоб хтось інший міг її перевірити.</p>

<h2>Категорії</h2>
<p>У нашій колекції всі цитати призначені для певних тем, таких як
   <%= link_to "Щастя", controller: :categories, action: :show, id: 7 %>,
   <%= link_to "Людина", controller: :categories, action: :show, id: 32 %> або
   <%= link_to "Посмішка", controller: :categories, action: :show, id: 139 %>.
   Одну цитату можна призначити кільком категоріям. Ви можете переглянути всі
   <%= link_to 'Категорії', controller: :categories %> створені до цього моменту.
   Коли ви натискаєте на око <%= image_tag("eye.png", alt: "Око", title: "Переглянути") %>,
   ви отримуєте більше деталей про цю категорію. Якщо ви самі створили запис для цієї категорії,
   ви можете відредагувати його, натиснувши на олівець <%= image_tag("pencil.png", alt: "Олівець", title: "Редагувати") %>.
   Також ви можете побачити, скільки цитат належить до кожної категорії та переглянути всі цитати в цій категорії.</p>
<p>Категорії автоматично перекладаються на інші мови. Ви можете редагувати або повторно перекласти переклади категорій, які ви створили.
   Категорії є унікальними для кожної мови, і ви не можете створити однакову категорію двічі. Однак, машинний переклад може призвести до дублікатів на інших мовах.
   Якщо назва категорії зустрічається двічі, відображається попереджувальний символ <%= image_tag("error.png", alt: t("g.error_alt"), title: t("g.duplicate", count: 1)) %>,
   який вказує на дублікат категорії. Чи можете ви використати іншу назву для категорії?
   Або ви можете відредагувати переклад?
   Значення можуть варіюватися в різних мовах.
   Тому ми намагаємося знайти те, яке якомога більш схоже на всіх мовах.
   Якщо вам потрібна допомога, будь ласка, не соромтеся залишити нам коментар.
   Адміністратор з радістю займеться цим.</p>
<p>Ви можете видалити категорію, яку ви створили, натиснувши на червоний хрестик <%= image_tag("cancel.png", alt: "Червоний хрестик", title: "Видалити") %>,
   якщо вона не містить жодних цитат або коментарів.</p>

<h2>Автори</h2>
<p>Переглядаючи список <%= link_to 'авторів', '/uk/authors' %>, ви можете натиснути на око <%= image_tag("eye.png", :alt => "Око", :title => "Перегляд") %> для отримання додаткової інформації про автора. Якщо ви самі створили автора, ви можете редагувати їх за допомогою олівця <%= image_tag("pencil.png", :alt => "Олівець", :title => "Редагувати") %>. Ви також можете побачити, скільки цитат призначено автору та відобразити всі цитати цього автора.</p>
<p>Автори перекладаються машинним способом на інші мови з урахуванням імені, прізвища та опису. Якщо посилання вказує на статтю у Вікіпедії, спробується знайти відповідні статті на інших мовах. У вас є можливість редагувати або повторно перекладати переклади авторів, яких ви створили.</p>
<p>Ви можете видалити запис автора, який ви створили, натиснувши на червоний хрест <%= image_tag("cancel.png", :alt => "червоний хрест", :title => "Видалити") %>, якщо він не містить жодних цитат або коментарів.</p>

<h2 id="comments">Коментарі</h2>
<p>
  У вас є можливість коментувати цитати, авторів та категорії.
  Однак для цього вам спершу потрібно увійти в систему.
  Ваші коментарі будуть позначені відповідно до мови, якою ви користуєтеся.
  Крім того, у вас також є можливість редагувати або видаляти власні коментарі, якщо ви цього бажаєте.
  Коментар може містити до 512 символів. Якщо залишилося менше 100 символів, лічильник буде зменшуватися.
  Крім того, ви можете додавати внутрішні посилання на zitat-service.de, наприклад, у формі Удача:https://www.zitat-service.de/de/categories/7.
</p>
<p>Діють наступні правила:</p>
<ol>
  <li><strong>Будь ласка, будь поважним</strong>: Уникайте образливої, агресивної або зневажливої мови. Кожен має право на свою власну думку, і важливо поважати ці різниці.</li>
  <li><strong>Дотримуйтеся теми</strong>: Коментарі повинні стосуватися цитат, авторів, категорій або відповідної дискусії.</li>
  <li><strong>Немає спаму або реклами</strong>: Коментарі, які рекламують продукти, послуги або інші веб-сайти, будуть видалені.</li>
  <li><strong>Захистіть свою приватність</strong>: Не розголошуйте особисту інформацію, таку як номер телефону або електронну адресу, у коментарях.</li>
  <li><strong>Ніяких виступів, що спонукають до ненависті</strong>: Коментарі, які спонукають до ненависті або дискримінації за ознаками раси, статі, релігії, національності, інвалідності, сексуальної орієнтації або віку, будуть видалені.</li>
  <li><strong>Будь ласка, використовуйте відповідну мову</strong>: Уникайте вульгарних або обсценних висловлювань.</li>
  <li><strong>Немає незаконних вмісту</strong>: Не дозволяється ділитися або сприяти незаконному вмісту.</li>
</ol>
<p>Адміністратори залишають за собою право змінювати або видаляти коментарі, що порушують ці правила.</p>

<h2>Видимість</h2>
<p>
  Коли ви додаєте нові цитати, категорії або авторів, спочатку вони видимі тільки тут.
  Це показує поле "Публічний: Ні".
  Адміністратор повинен затвердити ваші внески, перш ніж вони будуть відображатися на веб-сайтах.
  Якщо ви пізніше внесете зміни до своїх внесків, їх видимість знову буде обмежена, поки адміністратор не затвердить їх знову.
  Цей процес запобігає зловживанням цитат та посилань, коли вони відображаються на інших веб-сайтах.
</p>

<h2>Помилки або Розширення</h2>
<p>Якщо ви виявите помилку або хотіли би запросити розширення, будь ласка, створіть для нас <a target="_blank" href="https://github.com/muhme/quote/issues">квиток</a> (ticket). Ми розглянемо ваше прохання якомога швидше.</p>
