<h1>Hilfe</h1>
<p>Schön, dass Du hier bist. Zitat-Service.de bietet Dir eine individuelle Sammlung von Zitaten, die nach Autoren und Kategorien sortiert sind. Nach der <%= link_to 'Anmeldung', '/de/login' %> kannst Du selbst Zitate anlegen. Wir haben bereits <%= nice_number(Quotation.count) %> Zitate von <%= nice_number(Author.count) %> Autoren gesammelt und mit <%= nice_number(Category.count) %> Kategorien versehen. Unseren Service gibt es seit 2007 und er ist gänzlich kosten- und werbefrei.</p>
<p>Wenn Du unsere Zitate auf Deiner eigenen Homepage einbinden möchtest, findest Du eine Anleitung dazu unter <a href="/de/start/use">Einbinden</a>.</p>

<h2>Willkommen</h2>
<p>Um zur Startseite der Webanwendung zurückkehren, klicke einfach auf das Logo <%= image_tag("quote_service_16.png", :alt => "Logo", :title => "www.zitat-service.de") %> oben links klicken. Dort hast Du z.B. eine Textsuche über alle Zitate.</p>
<div class="large_right"><%= image_tag("autocomplete.gif", :alt => "Das Anlegen eines Zites wird gezeigt.", :title => "Ansehen", :border => 1, size: '466x315') %><br />Beispiel: <%= link_to 'Und jedem Anfang wohnt ein Zauber inne ...', '/de/quotations/898' %></div>

<h2>Sprachauswahl</h2>
<p>Mit einem Klick auf die Flagge kannst Du die gewünschte Sprache auswählen.<br />Möglich ist auch der direkte Aufruf, z.B. für Englisch mit:<br /><a href="https://www.zitat-service.de/en/">https://www.zitat-service.de/en/</a>.

<h2>Zitate</h2>
<p>In der Liste der <%= link_to 'Zitate', '/quotations' %> kannst Du mit dem Auge <%= image_tag("eye.png", :alt => "Auge", :title => "Ansehen") %> alle Einzelheiten zu einem Zitat sehen. Wenn Du angemeldest bist, dann kannst Du neue Zitate eingeben. Nur Deine eigenen Zitate kannst Du mit dem Stift <%= image_tag("pencil.png", :alt => "Stift", :title => "Ändern") %> ändern oder mit dem roten Kreuz <%= image_tag("cancel.png", :alt => "rotes Kreuz", :title => "Löschen") %> löschen.</p>
<p>Wenn Du ein neues Zitat hinzufügst, kannst Du den Autor auswählen, indem Du die ersten Buchstaben seines Nachnamens eingibst. Wenn Du den Autor nicht kennst, lasse das Feld einfach frei.</p>
<p>Bitte gib die Original-Quelle für Dein Zitat an, zum Beispiel den Buchtitel. Wenn Du ein Dokument im Internet kennst, wo das Zitat im Originaltext zu finden ist, gib bitte den Link dazu an. Bitte verlinke nicht auf Seiten, wo man das Buch oder andere Informationen kaufen kann.</p>
<p>Du kannst Deinem Zitat beliebig viele Kategorien zuweisen. Kategorien, die bereits als Wörter im Zitat gefunden wurden, kannst Du mit einem Klick auf den Blitz <%= image_tag("lightning.png", :alt => "Blitz", :title => "Markierung für Vorschläge") %> übernehmen.</p>
<p>Solltest du einen Autor oder eine Kategorie vermissen, kannst du sie selbst hinzufügen. Klicke dafür auf <%= link_to 'Autor anlegen', '/authors/new' %> bzw. <%= link_to 'Kategorie anlegen', '/categories/new' %>. Anschließend kannst du den Autor oder die Kategorie in Deinem Zitat ergänzen.</p>

<h2 id="copyright">Urheberrecht</h2>
<p>Bitte beachte, dass auch Zitate dem deutschen Urheberrecht unterliegen. Das bedeutet, dass urheberrechtlich geschützte Werke ohne Erlaubnis des Autors nicht benutzt werden dürfen. Einzelne Zitate sind zwar erlaubt, aber je Autor sollten es nicht mehr als fünf bis zehn Zitate sein. Bei Übersetzungen ist zu beachten, dass auch der Übersetzer Urheberrechtsschutz wie ein Autor geniesst.</p>
<p>Um ein Zitat im Sinne des Urheberrechts zu verwenden, musst Du unbedingt eine Quellenangabe machen. Diese besteht normalerweise aus dem Buchtitel, Erscheinungsjahr und der Seitenzahl.</p>
<p>Da es Berichte von Abmahnungen gegeben hat, nehmen wir keine Zitate von Karl Valentin, Erich Kästner oder Heinz Erhardt auf (siehe z.B. <a href="http://www1.wdr.de/themen/archiv/sp_urheberrecht/valentin100.html">Karl Valentin und die Anwälte</a>, WDR 2012).</p>
</p>
<p>Zitate, die von Urhebern stammen, die seit mehr als 70 Jahren verstorben sind, sind gemeinfrei und dürfen beliebig genutzt werden.</p>

<h2>Kategorien</h2>
<p>In unserer Sammlung sind alle Zitate bestimmten Themen zugeordnet, wie zum Beispiel <%= link_to "Glück", '/de/quotations/list_by_category/7' %>, <%= link_to "Mensch", '/de/quotations/list_by_category/32' %> oder <%= link_to "Lächeln", '/de/quotations/list_by_category/139' %>. Ein Zitat kann mehreren Kategorien zugeordnet sein. Du kannst Dir alle bisher erstellten <%= link_to 'Kategorien', '/de/categories' %> anzeigen lassen. Wenn Du auf das Auge <%= image_tag("eye.png", :alt => "Auge", :title => "Ansehen") %> klickst, erhältst Du weitere Details zu dieser Kategorie. Falls Du selbst den Eintrag für die Kategorie angelegt hast, kannst Du ihn mit einem Klick auf den Stift <%= image_tag("pencil.png", :alt => "Stift", :title => "Ändern") %> bearbeiten. Außerdem kannst Du sehen, wie viele Zitate einer Kategorie zugeordnet sind und alle Zitate dieser Kategorie anzeigen lassen.</p>
<p>Du kannst einen von Dir erstellte Kategorie durch Klicken auf das rote Kreuz <%= image_tag("cancel.png", :alt => "rotes Kreuz", :title => "Löschen") %> löschen, sofern diese keine Zitate oder Kommentare mehr hat.</p>

<h2>Autoren</h2>
<p>Wenn Du die Liste der <%= link_to 'Autoren', '/authors' %> aufrufst, kannst Du auf das Auge <%= image_tag("eye.png", :alt => "Auge", :title => "Ansehen") %> klicken, um weitere Details zu einem Autor zu sehen. Falls Du selbst einen Autor angelegt hast, kannst Du ihn mit dem Stift <%= image_tag("pencil.png", :alt => "Stift", :title => "Ändern") %> bearbeiten. Außerdem kannst Du sehen, wie viele Zitate einem Autor zugeordnet sind und alle Zitate dieses Autors anzeigen lassen.</p>
<p>Du kannst einen von Dir erstellten Autoren-Eintrag durch Klicken auf das rote Kreuz <%= image_tag("cancel.png", :alt => "rotes Kreuz", :title => "Löschen") %> löschen, sofern dieser keine Zitate oder Kommentare enthält.</p>

<h2 id="comments">Kommentare</h2>
<p>Zitate, Autoren und Kategorien können kommentiert werden. Um selbst Kommentare hinzuzufügen, musst Du angemeldet sein. Die Kommentare werden mit der aktuell verwendeten Sprache gekennzeichnet. Eigene Kommentare können auch geändert oder gelöscht werden. Es gelten folgende Richtlinien:</p>
<ol>
  <li><strong>Sei respektvoll</strong>: Vermeide beleidigende, aggressive oder abwertende Sprache. Jeder hat ein Recht auf seine eigene Meinung und es ist wichtig, diese Unterschiede zu respektieren.</li>
  <li><strong>Bleibe beim Thema</strong>: Kommentare sollen sich auf die Zitate, Autoren, Kategorien oder die jeweilige Diskussion beziehen.</li>
  <li><strong>Kein Spam oder Werbung</strong>: Kommentare, die für Produkte, Dienstleistungen oder andere Websites werben, werden gelöscht.</li>
  <li><strong>Schütze Deine Privatsphäre</strong>: Gebe keine persönlichen Informationen wie Telefonnummer oder E-Mail-Adresse in Kommentaren preis.</li>
  <li><strong>Keine Hassreden</strong>: Kommentare, die Hass oder Diskriminierung aufgrund von Rasse, Geschlecht, Religion, Nationalität, Behinderung, sexueller Orientierung oder Alter fördern, werden gelöscht.</li>
  <li><strong>Verwende eine angemessene Sprache</strong>: Vermeide vulgäre oder obszöne Ausdrücke.</li>
  <li><strong>Keine illegalen Inhalte</strong>: Es ist nicht gestattet, Inhalte zu teilen oder zu fördern, die illegal sind.</li>
</ol>
<p>Die Administratoren behalten sich das Recht vor, Kommentare zu ändern oder zu löschen, die gegen diese Richtlinien verstoßen.</p>

<h2>Sichtbarkeit</h2>
<p>Wenn Du neue Zitate, Kategorien oder Autoren hinzufügst, sind diese zunächst nur für Dich sichtbar. Ein Administrator muss sie freischalten, bevor sie für alle sichtbar werden. Wenn Du später weitere Änderungen vornimmst, werden sie wieder nur für Dich sichtbar, bis ein Administrator sie erneut freischaltet. Diese Einschränkung soll verhindern, dass die Zitate auf Websites missbraucht werden.</p>

<h2>Fehler oder Erweiterungen</h2>
<p>Wenn Du einen Fehler entdeckst oder Dir eine Erweiterung wünschst, dann erstelle uns bitte ein <a target="_blank" href="https://github.com/muhme/quote/issues">Ticket</a>. Wir werden uns dann so schnell wie möglich um Dein Anliegen kümmern.</p>
