<h1>ヘルプ</h1>
<p>こちらにいらっしゃってくれてうれしいです。Quote Service zitat-service.de は、著者とカテゴリ別に整理された名言集を提供します。 <%= link_to 'ログイン', '/ja/login' %>後に、自分だけの名言を作成できます。すでに <%= nice_number(Quotation.count) %> の名言を <%= nice_number(Author.count) %> の著者から収集し、 <%= nice_number(Category.count) %> のカテゴリに整理しました。このサービスは2007年から提供されており、完全に無料で広告もありません。</p>
<p>自分のホームページに引用文を埋め込みたい場合は、<a href="/ja/start/use">埋め込み</a>で方法が見つかります。</p>

<h2>ウェルカム</h2>
<p>ウェブアプリケーションのホームページに戻るには、左上隅のロゴ <%= image_tag("quote_service_16.png", :alt => "ロゴ", :title => "www.zitat-service.de/ja/") %> をクリックするだけです。そこには、例えば、すべての引用文のテキスト検索があります。</p>
<div class="large_right"><%= image_tag("autocomplete.gif", :alt => "名言の作成が表示されます", :title => "ビュー", :border => 1, size: '466x315') %><br />例: <%= link_to 'Und jedem Anfang wohnt ein Zauber inne ...', '/ja/quotations/898' %></div>

<h2>言語の選択</h2>
<p>国旗をクリックすると、希望の言語を選択できます。<br />直接アクセスも可能です。例えば、英語の場合は：<br /><a href="https://www.zitat-service.de/en/">https://www.zitat-service.de/en/</a>.</p>

<h2>引用</h2>
<p><%= link_to '引用', '/ja/quotations' %>のリストでは、目のアイコン <%= image_tag("eye.png", :alt => "目", :title => "ビュー") %> をクリックして引用の詳細を表示できます。ログインしている場合は、新しい引用を入力できます。自分で作成した引用だけを鉛筆アイコン <%= image_tag("pencil.png", :alt => "鉛筆", :title => "編集") %> で編集したり、赤い十字アイコン <%= image_tag("cancel.png", :alt => "赤い十字", :title => "削除") %> で削除できます。</p>
<p>新しい引用を追加する際には、著者の名前の最初の文字を入力して著者を選択できます。著者がわからない場合は、その欄を空白にしておいてください。</p>
<p>引用の元となる情報を提供してください。例えば、本のタイトルなどです。引用が元のテキストで見つかるインターネット上のドキュメントがある場合は、そのリンクを提供してください。本を買えるページや他の情報へのリンクは貼らないでください。</p>
<p>引用に好きなだけカテゴリを割り当てることができます。引用文中で既に見つかった単語としてカテゴリが追加できる場合は、稲妻アイコン <%= image_tag("lightning.png", :alt => "稲妻", :title => "マークと提案") %> をクリックします。</p>
<p>著者やカテゴリが足りないと思ったら、自分で追加できます。 <%= link_to '著者を作成', '/ja/authors/new' %> か <%= link_to 'カテゴリを作成', '/ja/categories/new' %> をクリックします。その後、引用を編集して著者やカテゴリを追加できます。</p>

<h2 id="copyright">著作権</h2>
<p>引用もドイツの著作権法の対象であることに注意してください。これは、著作権がある作品は著者の許可なしに使用できないことを意味します。個々の引用は許可されますが、著者ごとに5～10の引用があるべきです。翻訳については、翻訳者も著者と同様に著作権保護を受けることを考慮してください。</p>
<p>著作権法に従って引用を使用するには、出典を引用する必要があります。これは通常、本のタイトル、出版年、ページ番号で構成されます。</p>
<p>差し止め命令の報告があるため、カール・ヴァレンティン、エーリッヒ・ケストナー、ハインツ・エアハルトからの引用は受け付けていません「例：<a href="http://www1.wdr.de/themen/archiv/sp_urheberrecht/valentin100.html">Karl Valentin und die Anwälte、WDR、2012</a>」。</p>
</p>
<p>著者が亡くなってから70年以上経った引用は、パブリックドメインになり、自由に使用できます。</p>

<h2>カテゴリ</h2>
<p>私たちのコレクションでは、すべての引用文が特定のテーマに割り当てられています。例えば、
   <%= link_to "幸せ", controller: :categories, action: :show, id: 7 %>,
   <%= link_to "人間", controller: :categories, action: :show, id: 32 %>、または
   <%= link_to "微笑み", controller: :categories, action: :show, id: 139 %>
   などです。引用文は複数のカテゴリに割り当てることができます。作成済みの
   <%= link_to 'カテゴリ', controller: :categories %>をすべて表示することもできます。
   「目」<%= image_tag("eye.png", alt: "目", title: "表示") %>をクリックすると、そのカテゴリの詳細が表示されます。
   カテゴリのエントリを自分で作成した場合は、「鉛筆」<%= image_tag("pencil.png", alt: "鉛筆", title: "編集") %>をクリックして編集することができます。
   また、カテゴリに割り当てられた引用文の数やそのカテゴリに属するすべての引用文を表示することもできます。</p>
<p>カテゴリは他の言語に自動的に翻訳されます。作成したカテゴリの翻訳を編集したり、再度翻訳したりすることができます。
   カテゴリは言語ごとに一意です。すでに存在するカテゴリは二度と作成することはできません。ただし、機械翻訳により他の言語で重複が生じる場合があります。
   カテゴリの名前が2回表示される場合、警告のシンボル <%= image_tag("error.png", alt: t("g.error_alt"), title: t("g.duplicate", count: 1)) %> が表示され、重複したカテゴリにリンクします。
   カテゴリの名前を変更することはできますかまたは翻訳を調整することはできますか？
   意味は言語によって異なることがあります
   したがって、私たちはすべての言語で可能な限り類似したものを見つける努力をしています
   もし支援が必要な場合は、遠慮せずにコメントを残してください
   管理者が喜んで対応します。</p>
<p>引用文やコメントがない場合、作成したカテゴリを赤いバツ<%= image_tag("cancel.png", alt: "赤いバツ", title: "削除") %>をクリックして削除することができます。</p>

<h2>著者</h2>
<p><%= link_to '著者', '/ja/authors' %> のリストを表示すると、目のアイコン <%= image_tag("eye.png", :alt => "目", :title => "ビュー") %> をクリックして著者の詳細を表示できます。自分で作成した著者であれば、鉛筆アイコン <%= image_tag("pencil.png", :alt => "鉛筆", :title => "編集") %> を使用して編集できます。また、著者に割り当てられた引用の数や、その著者からのすべての引用を表示できます。</p>
<p>あなたが作成した作者のエントリーは、それに引用又はコメントが含まれていない場合、赤十字<%= image_tag("cancel.png", :alt => "赤十字", :title => "削除") %>をクリックして削除することができます。</p>

<h2 id="comments">コメント</h2>
<p>引用、著者、カテゴリについてコメントすることができます。自分でコメントを追加するためには、ログインする必要があります。コメントは、現在使用している言語で記述されます。自分のコメントは変更または削除することもできます。以下のガイドラインが適用されます：</p>
<ol>
  <li><strong>お願いします、尊重してください</strong>: 攻撃的、侮辱的、または軽蔑的な言葉遣いは避けてください。すべての人には自身の意見を持つ権利があり、それらの違いを尊重することが重要です。</li>
  <li><strong>話題を逸らさないでください</strong>: コメントは、引用、著者、カテゴリ、または各々の議論に関連しているべきです。</li>
  <li><strong>スパムや広告は禁止です</strong>: 製品、サービス、または他のウェブサイトを宣伝するコメントは削除されます。</li>
  <li><strong>プライバシーを守りましょう</strong>: コメント内で電話番号やメールアドレスなどの個人情報を開示しないでください。</li>
  <li><strong>ヘイトスピーチは禁止です</strong>: 人種、性別、宗教、国籍、障害、性的指向、年齢に基づくヘイトスピーチや差別を助長するコメントは削除されます。</li>
  <li><strong>適切な言葉を使ってください</strong>: 卑猥または不快な表現は避けてください。</li>
  <li><strong>違法なコンテンツは禁止です</strong>: 違法なコンテンツを共有したり、推進したりすることは許されません。</li>
</ol>
<p>管理者は、これらのガイドラインに違反するコメントを修正または削除する権利を保有しています。</p>

<h2>可視性</h2>
<p>新しい引用文、カテゴリ、著者を追加すると、最初はあなたにしか表示されません。管理者が承認するまで、他のすべての人に表示されません。後でさらに変更を加えると、再び管理者が再び承認するまで、あなたにしか表示されません。この制限は、引用がウェブサイトで悪用されるのを防ぐためのものです。</p>

<h2>エラーや拡張機能</h2>
<p>エラーを見つけたり、拡張機能をリクエストしたい場合は、私たちのために<a target="_blank" href="https://github.com/muhme/quote/issues">チケット</a>を作成してください。できるだけ早く対応いたします。</p>
