<h1>Допомога</h1>
<p>Раді, що ви тут. Служба цитат zitat-service.de надає вам персоналізовану колекцію цитат, відсортованих за авторами та категоріями. Після <%= link_to 'входу в систему', '/uk/login' %>, ви можете створювати власні цитати. Ми вже зібрали <%= nice_number(Quotation.count) %> цитат від <%= nice_number(Author.count) %> авторів та організували їх у <%= nice_number(Category.count) %> категорій. Наш сервіс доступний з 2007 року і є абсолютно безкоштовним та без реклами.</p>
<p>Якщо ви хочете вбудувати наші цитати на власній домашній сторінці, ви знайдете інструкції з цього питання за посиланням <a href="/uk/start/use">Вбудувати</a>.</p>

<h2>Ласкаво просимо</h2>
<p>Щоб повернутися на домашню сторінку веб-додатку, просто натисніть на логотип <%= image_tag("quote_service_16.png", :alt => "Логотип", :title => "www.zitat-service.de") %> у верхньому лівому куті. Там є, наприклад, текстовий пошук за всіма цитатами.</p>

<div class="large_right"><%= image_tag("autocomplete.gif", :alt => "Показано створення цитати.", :title => "Переглянути", :border => 1, size: '466x315') %><br />Приклад: <%= link_to 'Und jedem Anfang wohnt ein Zauber inne ...', '/uk/quotations/898' %></div>
<h2>Вибір мови</h2>
<p>Натиснувши на прапорець, ви можете вибрати бажану мову.<br />Прямий доступ також можливий, наприклад, для англійської мови:<br /><a href="https://www.zitat-service.de/en/">https://www.zitat-service.de/en/</a>.

<h2>Цитати</h2>
<p>У списку <%= link_to 'цитат', '/uk/quotations' %>, ви можете переглянути всі деталі цитати, натиснувши на око <%= image_tag("eye.png", :alt => "Око", :title => "Перегляд") %>. Якщо ви увійшли в систему, ви можете вводити нові цитати. Ви можете змінювати лише власні цитати за допомогою олівця <%= image_tag("pencil.png", :alt => "Олівець", :title => "Редагувати") %> або видалити їх червоним хрестом <%= image_tag("cancel.png", :alt => "Червоний хрест", :title => "Видалити") %>.</p>
<p>Під час додавання нової цитати, ви можете вибрати автора, вводячи перші літери прізвища. Якщо ви не знаєте автора, просто залиште поле порожнім.</p>
<p>Будь ласка, наведіть первісне джерело для вашої цитати, наприклад назву книги. Якщо ви знаєте документ в Інтернеті, де можна знайти цитату в оригінальному тексті, наведіть посилання. Не посилайтеся на сторінки, де можна купити книгу або отримати іншу інформацію.</p>
<p>Ви можете призначити своїй цитаті стільки категорій, скільки бажаєте. Категорії, які вже були знайдені у вигляді слів у цитаті, можна додати, натиснувши на іконку блискавки <%= image_tag("lightning.png", :alt => "Блискавка", :title => "Відзначити для пропозицій") %> icon.</p>
<p>Якщо ви помітите, що відсутній автор або категорія, ви можете додати їх самостійно. Натисніть на <%= link_to 'Створити Автора', '/uk/authors/new' %> або <%= link_to 'Створити Категорію', '/uk/categories/new' %>. Після цього ви можете додати автора або категорію, редагуючи свою цитату.</p>
<h2 id="copyright">Авторські права</h2>
<p>Зверніть увагу, що цитати також підлягають німецькому законодавству про авторське право. Це означає, що авторські твори не можуть використовуватися без дозволу автора. Допускаються окремі цитати, але від одного автора має бути не більше п'яти-десяти цитат. Що стосується перекладів, майте на увазі, що перекладач користується захистом авторського права так само, як і автор.</p>
<p>Щоб використовувати цитату відповідно до закону про авторські права, ви повинні навести джерело. Зазвичай воно складається з назви книги, року видання та номера сторінки.</p>
<p>Оскільки було повідомлено про припинення та призупинення дії, ми не приймаємо цитат від Карла Валентина, Еріха Кестнера чи Хайнца Ерхардта (дивіться, наприклад, <a href="http://www1.wdr.de/themen/archiv/sp_urheberrecht/valentin100.html">Karl Valentin und die Anwälte</a>, WDR 2012).</p>
</p>
<p>Цитати від авторів, які померли більше ніж 70 років тому, належать до суспільного надбання та можуть вільно використовуватися.</p>
<h2>Категорії</h2>
<p>У нашій колекції всі цитати призначені для конкретних тем, таких як <%= link_to "Glück", '/uk/quotations/list_by_category/7' %> (Щастя), <%= link_to "Mensch", '/uk/quotations/list_by_category/32' %> (Людина) або <%= link_to "Lächeln", '/uk/quotations/list_by_category/139' %> (Посмішка). Цитата може бути призначена для декількох категорій. Ви можете переглянути всі створені <%= link_to 'категорії', '/uk/categories' %>. Коли ви натискаєте на око <%= image_tag("eye.png", :alt => "Око", :title => "Перегляд") %>, ви можете побачити подальші деталі про категорію. Якщо ви самі створили категорію, ви також можете змінити її, натиснувши на олівець <%= image_tag("pencil.png", :alt => "Олівець", :title => "Редагувати") %> або видалити її, натиснувши на червоний хрест <%= image_tag("cancel.png", :alt => "Червоний хрест", :title => "Видалити") %>. Категорію можна видалити лише в тому випадку, якщо до неї не призначено жодної цитати.</p>
<h2>Автори</h2>
<p>Переглядаючи список <%= link_to 'авторів', '/uk/authors' %>, ви можете натиснути на око <%= image_tag("eye.png", :alt => "Око", :title => "Перегляд") %> для отримання додаткової інформації про автора. Якщо ви самі створили автора, ви можете редагувати їх за допомогою олівця <%= image_tag("pencil.png", :alt => "Олівець", :title => "Редагувати") %>. Ви також можете побачити, скільки цитат призначено автору та відобразити всі цитати цього автора.</p>
<p>Ви можете видалити автора, якого ви створили, за допомогою червоного хрестика <%= image_tag("cancel.png", :alt => "Червоний хрест", :title => "Видалити") %> лише в тому випадку, якщо до них не призначено жодної цитати.</p>
<h2>Видимість</h2>
<p>Коли ви додаєте нові цитати, категорії або авторів, спочатку вони видимі лише для вас. Адміністратор повинен затвердити їх, перш ніж вони стануть видимими для всіх. Якщо ви внесете подальші зміни пізніше, вони знову будуть видимі лише для вас, доки адміністратор знову не затвердить їх. Це обмеження призначено для запобігання зловживанням цитат на веб-сайтах.</p>
<h2>Помилки або Розширення</h2>
<p>Якщо ви виявите помилку або хотіли би запросити розширення, будь ласка, створіть для нас <a target="_blank" href="https://github.com/muhme/quote/issues">квиток</a> (ticket). Ми розглянемо ваше прохання якомога швидше.</p>
