<h1>Ayuda</h1>
<p>Me alegra que estés aquí. El Servicio de Citas zitat-service.de te proporciona una colección personalizada de citas ordenadas por autores y categorías. Después de <%= link_to 'iniciar sesión', '/es/login' %>, puedes crear tus propias citas. Ya hemos recopilado <%= nice_number(Quotation.count) %> citas de <%= nice_number(Author.count) %> autores y las hemos organizado en <%= nice_number(Category.count) %> categorías. Nuestro servicio está disponible desde 2007 y es completamente gratuito y sin publicidad.</p>
<p>Si deseas incrustar nuestras citas en tu propia página de inicio, puedes encontrar instrucciones sobre cómo hacerlo en <a href="/es/start/use">Incrustar</a>.</p>

<h2>Bienvenida</h2>
<p>Para volver a la página principal de la aplicación web, simplemente haz clic en el logo <%= image_tag("quote_service_16.png", :alt => "Logo", :title => "www.zitat-service.de") %> en la esquina superior izquierda. Ahí tienes, por ejemplo, una búsqueda de texto de todas las citas.</p>
<div class="large_right"><%= image_tag("autocomplete.gif", :alt => "Se muestra cómo crear una cita.", :title => "Ver", :border => 1, size: '466x315') %><br />Ejemplo: <%= link_to 'Und jedem Anfang wohnt ein Zauber inne ...', '/es/quotations/898' %></div>

<h2>Selección de idioma</h2>
<p>
  Al hacer clic en la bandera, puedes seleccionar el idioma deseado.
  El acceso directo también es posible, por ejemplo, para inglés con:
  <a href="https://www.zitat-service.de/en/">https://www.zitat-service.de/en/</a>.
</p><p>
  Las citas, categorías y comentarios se crean en el idioma seleccionado actualmente.
  Posteriormente, las categorías se traducen automáticamente a otros idiomas.
  Por favor, ten en cuenta que utilizamos la ortografía americana para el inglés.
</p>

<h2>Citas</h2>
<p>En la lista de <%= link_to 'citas', '/es/quotations' %>, puedes ver todos los detalles de una cita haciendo clic en el ojo <%= image_tag("eye.png", :alt => "Ojo", :title => "Ver") %>. Si has iniciado sesión, puedes ingresar nuevas citas.
Puedes editar tus propias citas haciendo clic en el lápiz <%= image_tag("pencil.png", :alt => "Lápiz", :title => "Editar") %>, o eliminarlas haciendo clic en la cruz roja <%= image_tag("cancel.png", :alt => "Cruz roja", :title => "Eliminar") %>. Por favor, ten en cuenta que la eliminación sólo es posible si la cita no tiene comentarios.</p>
<p>Al agregar una nueva cita, puedes seleccionar al autor escribiendo las primeras letras de su apellido. Si no conoces al autor, simplemente deja el campo en blanco.</p>
<p>Por favor, proporciona la fuente original de tu cita, como el título del libro. Si conoces un documento en Internet donde se pueda encontrar la cita en el texto original, proporciona el enlace. No enlaces a páginas donde se pueda comprar el libro u otra información.</p>
<p>Puedes asignar tantas categorías a tu cita como desees. Las categorías que ya se han encontrado como palabras en la cita se pueden agregar con un clic en el icono de rayo <%= image_tag("lightning.png", :alt => "Rayo", :title => "Marcar para sugerencias") %> .</p>
<p>Si encuentras que falta un autor o una categoría, puedes agregarlos tú mismo. Haz clic en <%= link_to 'Crear Autor','/es/authors/new' %> o <%= link_to 'Crear Categoría', '/es/categories/new' %>. Después, puedes agregar el autor o la categoría editando tu cita.</p>

<h2 id="copyright">Derechos de autor</h2>
<p>Ten en cuenta que las citas también están sujetas a la ley alemana de derechos de autor. Esto significa que las obras protegidas por derechos de autor no pueden utilizarse sin el permiso del autor. Se permiten citas individuales, pero no deben haber más de cinco a diez citas por autor. En cuanto a las traducciones, ten en cuenta que el traductor goza de protección de derechos de autor al igual que un autor.</p>
<p>Para utilizar una cita de acuerdo con la ley de derechos de autor, debes proporcionar una cita de la fuente. Esto generalmente consiste en el título del libro, año de publicación y número de página.</p>
<p>Ya que ha habido informes de órdenes de cesar y desistir, no aceptamos citas de Karl Valentin, Erich Kästner o Heinz Erhardt (ver, por ejemplo, <a href="http://www1.wdr.de/themen/archiv/sp_urheberrecht/valentin100.html">Karl Valentin und die Anwälte</a>, WDR 2012).</p>
</p>
<p>Las citas de autores que han fallecido hace más de 70 años están en el dominio público y pueden usarse libremente.</p>

<h2>Categorías</h2>
<p>En nuestra colección, todas las citas están asignadas a temas específicos, como
   <%= link_to "Fortuna", controller: :categories, action: :show, id: 7 %>,
   <%= link_to "Humano", controller: :categories, action: :show, id: 32 %> o
   <%= link_to "Sonrisa", controller: :categories, action: :show, id: 139 %>.
   Una cita puede ser asignada a múltiples categorías. Puedes ver todas las <%= link_to 'categorías', controller: :categories %> que se han creado hasta ahora.
   Cuando haces clic en el ojo <%= image_tag("eye.png", alt: "Ojo", title: "Ver") %>,
   obtendrás más detalles sobre esa categoría. Si has creado la entrada para la categoría tú mismo,
   puedes editarla haciendo clic en el lápiz <%= image_tag("pencil.png", alt: "Lápiz", title: "Editar") %>.
   También puedes ver cuántas citas están asignadas a una categoría y ver todas las citas en esa categoría.</p>
<p>Las categorías se traducen automáticamente a otros idiomas. Puedes editar o volver a traducir las traducciones de las categorías que has creado.
   Las categorías son únicas en un idioma y no puedes crear la misma categoría dos veces. Sin embargo, la traducción automática puede resultar en duplicados en otros idiomas.
   Si el nombre de la categoría aparece dos veces, se mostrará un símbolo de advertencia <%= image_tag("error.png", alt: t("g.error_alt"), title: t("g.duplicate", count: 1)) %>, enlazando al duplicado de la categoría.
   ¿Puedes usar un nombre diferente para la categoría? ¿O se puede ajustar la traducción?
   Los significados pueden variar en las diferentes lenguas.
   Por lo tanto, nos esforzamos por encontrar uno que sea lo más similar posible en todos los idiomas.
   Si necesitas asistencia, por favor no dudes en dejarnos un comentario.
   Un administrador se encargará de ello con gusto.</p>
<p>Si una categoría que has creado no contiene citas ni comentarios, puedes eliminarla haciendo clic en la cruz roja <%= image_tag("cancel.png", :alt => "cruz roja", :title => "Eliminar") %>.</p>

<h2>Autores</h2>
<p>Al ver la lista de <%= link_to 'autores', '/es/authors' %>, puedes hacer clic en el ojo <%= image_tag("eye.png", :alt => "Ojo", :title => "Ver") %> para ver más detalles sobre un autor. Si has creado un autor tú mismo, puedes editarlo usando el lápiz <%= image_tag("pencil.png", :alt => "Lápiz", :title => "Editar") %>. También puedes ver cuántas citas están asignadas a un autor y mostrar todas las citas de ese autor.</p>
<p>Puedes eliminar una entrada de autor que hayas creado haciendo clic en la cruz roja <%= image_tag("cancel.png", :alt => "cruz roja", :title => "Eliminar") %> siempre que no contenga ninguna cita o comentario.</p>

<h2 id="comments">Comentarios</h2>
<p>
  Tienes la oportunidad de comentar sobre citas, autores y categorías. 
  Sin embargo, primero debes iniciar sesión para hacerlo.
  Tus comentarios serán marcados de acuerdo con el idioma que estás utilizando.
  Además, también tienes la opción de editar o eliminar tus propios comentarios si lo deseas.
  Un comentario puede contener hasta 512 caracteres. Si quedan menos de 100 caracteres, el contador disminuirá.
  Adicionalmente, puedes agregar enlaces internos a zitat-service.de, por ejemplo, en la forma de Suerte:https://www.zitat-service.de/de/categories/7.
</p>
<p>Se aplican las siguientes directrices:</p>
<ol>
  <li><strong>Por favor, sé respetuoso</strong>: Evita el lenguaje ofensivo, agresivo o despectivo. Todos tienen derecho a su propia opinión y es importante respetar estas diferencias.</li>
  <li><strong>Mantente en el tema</strong>: Los comentarios deben relacionarse con las citas, autores, categorías o la respectiva discusión.</li>
  <li><strong>No spam o publicidad</strong>: Se eliminarán los comentarios que promocionen productos, servicios u otros sitios web.</li>
  <li><strong>Protege tu privacidad</strong>: No divulges información personal como número de teléfono o dirección de correo electrónico en los comentarios.</li>
  <li><strong>No al discurso de odio</strong>: Se eliminarán los comentarios que promuevan el odio o la discriminación basada en raza, género, religión, nacionalidad, discapacidad, orientación sexual o edad.</li>
  <li><strong>Por favor, utiliza un lenguaje adecuado</strong>: Evita las expresiones vulgares u obscenas.</li>
  <li><strong>No a contenidos ilegales</strong>: No está permitido compartir o promocionar contenidos ilegales.</li>
</ol>
<p>Los administradores se reservan el derecho de modificar o eliminar los comentarios que violen estas directrices.</p>

<h2>Visibilidad</h2>
<p>
  Cuando agregas nuevas citas, categorías o autores, inicialmente solo son visibles aquí.
  El campo "Público: No" indica esto.
  Un administrador debe aprobar tus contribuciones antes de que se muestren en los sitios web.
  Si más tarde haces cambios en tus contribuciones, su visibilidad se limita nuevamente hasta que un administrador las vuelve a aprobar.
  Este proceso previene el mal uso de las citas y enlaces cuando se muestran en otros sitios web.
</p>

<h2>Errores o Extensiones</h2>
<p>Si descubres un error o deseas solicitar una extensión, por favor crea un <a target="_blank" href="https://github.com/muhme/quote/issues">ticket</a> para nosotros. Abordaremos tu inquietud lo más pronto posible.</p>
