<h1>Hilfe</h1>
<p>Schön, dass du hier bist. Zitat-Service.de bietet dir eine individuelle Sammlung von Zitaten, die nach Autoren und Kategorien sortiert sind. Nach der <%= link_to 'Anmeldung', '/de/login' %> kannst du selbst Zitate anlegen. Wir haben bereits <%= nice_number(Quotation.count) %> Zitate von <%= nice_number(Author.count) %> Autoren gesammelt und mit <%= nice_number(Category.count) %> Kategorien versehen. Unseren Service gibt es seit 2007 und er ist gänzlich kosten- und werbefrei.</p>
<p>Wenn du unsere Zitate auf Deiner eigenen Homepage einbinden möchtest, findest du eine Anleitung dazu unter <a href="/de/start/use">Einbinden</a>.</p>

<h2>Willkommen</h2>
<p>Um zur Startseite der Webanwendung zurückkehren, klicke einfach auf das Logo <%= image_tag("quote_service_16.png", :alt => "Logo", :title => "www.zitat-service.de") %> oben links klicken. Dort hast du z.B. eine Textsuche über alle Zitate.</p>

<h2>Sprachauswahl 🇩🇪</h2>
<p>
  Mit einem Klick auf die Flagge kannst du die gewünschte Sprache auswählen.
  Möglich ist auch der direkte Aufruf,
  z.B. für Englisch mit: <a href="https://www.zitat-service.de/en/">https://www.zitat-service.de/en/</a>.
</p><p>
  Zitate, Kategorien und Kommentare werden in der gerade ausgewählten Sprache erstellt.
  Anschließend werden die Kategorien automatisch in die anderen Sprachen übersetzt.
  Bitte beachte, dass wir für Englisch die amerikanische Schreibweise verwenden.
</p><p>
  Englisch ist die Standardsprache unserer Webanwendung.
  Sollten bestimmte Felder (z.B. ein Web-Link) in anderen Sprachen nicht ausgefüllt sein,
  ergänzen wir diese automatisch mit den Informationen aus der englischen Version.
  Damit stellen wir sicher, dass dir stets alle benötigten Informationen zur Verfügung stehen.
</p>

<h2>Benutzer-Eintrag</h2>
<!-- 9.png is 'He' -->
<p><%= image_tag("#{AVATARS_URL}/9.png", class: "avatar float-left margin-right-1em") %>Durch Anklicken deines
   Avatars gelangst du zu einer Seite, auf der du deinen Benutzernamen, deine E-Mail-Adresse,
   dein Passwort und dein Avatar-Bild ändern kannst. Dein anfängliches Avatar-Bild wird automatisch erstellt,
   indem die ersten beiden Buchstaben deines Benutzernamens mit einer zufällig ausgewählten Farbe kombiniert werden.
   Falls mit deiner E-Mail-Adresse bereits ein Gravatar verknüpft ist, wird dieser automatisch als dein Avatar
   übernommen. Alternativ hast du die Möglichkeit, ein eigenes Bild hochzuladen und als Avatar zu verwenden.
</p>

<div class="large_right"><%= image_tag("autocomplete.gif", :alt => "Das Anlegen eines Zites wird gezeigt.", :title => "Ansehen", :border => 1, size: '466x315') %><br />Beispiel: <%= link_to 'Und jedem Anfang wohnt ein Zauber inne ...', '/de/quotations/898' %></div>
<h2>Zitate</h2>
<p>In der Liste der <%= link_to 'Zitate', '/quotations' %> kannst du mit dem Auge <%= image_tag("eye.png", :alt => "Auge", :title => "Ansehen") %> alle Einzelheiten zu einem Zitat sehen. Wenn du angemeldest bist, dann kannst du neue Zitate eingeben. du kannst deine eigenen Zitate bearbeiten, indem du auf den Stift <%= image_tag("pencil.png", :alt => "Stift", :title => "Ändern") %> klickst, oder löschen, indem du auf das rote Kreuz <%= image_tag("cancel.png", :alt => "rotes Kreuz", :title => "Löschen") %>  klickst. Bitte beachte, dass das Löschen nur möglich ist, wenn das Zitat keine Kommentare hat.</p>
<p>Wenn du ein neues Zitat hinzufügst, kannst du den Autor auswählen, indem du die ersten Buchstaben seines Nachnamens eingibst. Wenn du den Autor nicht kennst, lasse das Feld einfach frei.</p>
<p>Bitte gib die Original-Quelle für Dein Zitat an, zum Beispiel den Buchtitel. Wenn du ein Dokument im Internet kennst, wo das Zitat im Originaltext zu finden ist, gib bitte den Link dazu an. Bitte verlinke nicht auf Seiten, wo man das Buch oder andere Informationen kaufen kann.</p>
<p>du kannst Deinem Zitat beliebig viele Kategorien zuweisen. Kategorien, die bereits als Wörter im Zitat gefunden wurden, kannst du mit einem Klick auf den Blitz <%= image_tag("lightning.png", :alt => "Blitz", :title => "Markierung für Vorschläge") %> übernehmen.</p>
<p>Solltest du einen Autor oder eine Kategorie vermissen, kannst du sie selbst hinzufügen. Klicke dafür auf <%= link_to 'Autor anlegen', '/authors/new' %> bzw. <%= link_to 'Kategorie anlegen', '/categories/new' %>. Anschließend kannst du den Autor oder die Kategorie in Deinem Zitat ergänzen.</p>

<h2 id="copyright">Urheberrecht</h2>
<p>Bitte beachte, dass auch Zitate dem deutschen Urheberrecht unterliegen. Das bedeutet, dass urheberrechtlich geschützte Werke ohne Erlaubnis des Autors nicht benutzt werden dürfen. Einzelne Zitate sind zwar erlaubt, aber je Autor sollten es nicht mehr als fünf bis zehn Zitate sein. Bei Übersetzungen ist zu beachten, dass auch der Übersetzer Urheberrechtsschutz wie ein Autor geniesst.</p>
<p>Um ein Zitat im Sinne des Urheberrechts zu verwenden, musst du unbedingt eine Quellenangabe machen. Diese besteht normalerweise aus dem Buchtitel, Erscheinungsjahr und der Seitenzahl.</p>
<p>Da es Berichte von Abmahnungen gegeben hat, nehmen wir keine Zitate von Karl Valentin, Erich Kästner oder Heinz Erhardt auf (siehe z.B. <a href="http://www1.wdr.de/themen/archiv/sp_urheberrecht/valentin100.html">Karl Valentin und die Anwälte</a>, WDR 2012).</p>
</p>
<p>Zitate, die von Urhebern stammen, die seit mehr als 70 Jahren verstorben sind, sind gemeinfrei und dürfen beliebig genutzt werden.</p>

<h2>Zitate-Check</h2>
<p>Wenn ein neues Zitat erstellt wird, dann bitte die Quelle angeben,
   um falsche Zitierung zu vermeiden. Viele angebliche Zitate wurden verfremdet,
   schlicht erfunden oder als Kuckuckzitat einer Autorin untergeschoben.</p>
<p>Eine Überprüfung kann z.B. mit der <a href="https://de.wikiquote.org">Wikiquote</a>
   oder mit der Website von Gerald Krieghofer
   <a href="https://falschzitate.blogspot.com/">falschzitate.blogspot.com</a> erfolgen.</p>
<p>Wenn das Zitat oder die Autorin nicht eindeutig belegt sind, dann bitte zum Zitat kommentieren,
   damit jemand anderes es überprüfen kann.</p>

<h2>Kategorien</h2>
<p>In unserer Sammlung sind alle Zitate bestimmten Themen zugeordnet, wie zum Beispiel
   <%= link_to "Glück", controller: :categories, action: :show, id: 7 %>,
   <%= link_to "Mensch", controller: :categories, action: :show, id: 32 %> oder
   <%= link_to "Lächeln", controller: :categories, action: :show, id: 139 %>.
   Ein Zitat kann mehreren Kategorien zugeordnet sein. du kannst dir alle bisher erstellten
   <%= link_to 'Kategorien', controller: :categories %> anzeigen lassen.
   Wenn du auf das Auge <%= image_tag("eye.png", alt: "Auge", title: "Ansehen") %> klickst,
   erhältst du weitere Details zu dieser Kategorie. Falls du selbst den Eintrag für die Kategorie angelegt hast,
   kannst du ihn mit einem Klick auf den Stift <%= image_tag("pencil.png", alt: "Stift", title: "Ändern") %> bearbeiten.
   Außerdem kannst du sehen, wie viele Zitate einer Kategorie zugeordnet sind und dir alle Zitate dieser Kategorie anzeigen lassen.</p>
<p>Kategorien werden maschinell in die anderen Sprachen übersetzt. Du kannst die Übersetzung der von dir angelegten Kategorien bearbeiten oder erneut übersetzen.
   Kategorien sind in der aktuellen Sprache eindeutig, eine bereits existierende Kategorie lässt sich kein zweites Mal anlegen. Durch die maschinelle Übersetzung kann es jedoch zu Duplikaten in anderen Sprachen kommen.
   Wenn der Name der Kategorie doppelt vorkommt, wird ein Warnsymbol <%= image_tag("error.png", alt: t("g.error_alt"), title: t("g.duplicate", count: 1)) %> angezeigt, das auf das Duplikat der Kategorie verlinkt.
   Kannst du eine andere Bezeichnung für die Kategorie verwenden? Oder lässt sich die Übersetzung anpassen?
   Die Bedeutungen können in den verschiedenen Sprachen variieren. Daher bemühen wir uns, eine zu finden, die möglichst ähnlich in allen Sprachen ist.
   Falls du Unterstützung benötigst, zögere bitte nicht, uns einen Kommentar zu hinterlassen. Ein Administrator wird sich dann gerne darum kümmern.</p>
<p>Wenn eine von dir erstellte Kategorie keine Zitate und Kommentare enthält, kannst du diese Kategorie löschen, indem du auf das rote Kreuz <%= image_tag("cancel.png", alt: "rotes Kreuz", title: "Löschen") %> klickst.</p>

<h2>Autoren</h2>
<p>Wenn du die Liste der <%= link_to 'Autoren', '/authors' %> aufrufst, kannst du auf das Auge <%= image_tag("eye.png", :alt => "Auge", :title => "Ansehen") %> klicken, um weitere Details zu einem Autor zu sehen. Falls du selbst einen Autor angelegt hast, kannst du ihn mit dem Stift <%= image_tag("pencil.png", :alt => "Stift", :title => "Ändern") %> bearbeiten. Außerdem kannst du sehen, wie viele Zitate einem Autor zugeordnet sind und alle Zitate dieses Autors anzeigen lassen.</p>
<p>Autoren werden mit Vorname, Nachname und Beschreibung maschinell in die anderen Sprachen übersetzt. Wenn der Link ein Wikipedia-Artikel ist, dann wird versucht die Wikipedia-Artikel in den anderen Sprachen zu finden. Du kannst die Übersetzung der von dir angelegten Autoren bearbeiten oder erneut übersetzen. 
<p>Du kannst einen von dir erstellten Autoren-Eintrag durch Klicken auf das rote Kreuz <%= image_tag("cancel.png", :alt => "rotes Kreuz", :title => "Löschen") %> löschen, sofern dieser keine Zitate oder Kommentare enthält.</p>

<h2 id="comments">Kommentare</h2>
<p>
  Du hast die Möglichkeit, Zitate, Autoren und Kategorien zu kommentieren.
  Um das zu tun, musst du dich jedoch zuerst anmelden.
  Deine Kommentare werden entsprechend der von dir genutzten Sprache gekennzeichnet.
  Darüber hinaus hast du auch die Option, deine eigenen Kommentare zu bearbeiten oder zu löschen, falls du das möchtest.
  Ein Kommentar darf bis zu 512 Zeichen enthalten. Wenn weniger als 100 Zeichen übrig sind, wird die Anzahl heruntergezählt.
  Außerdem kannst du interne Links zu zitat-service.de hinzufügen, beispielsweise in der Form Glück:https://www.zitat-service.de/de/categories/7.
</p>
<p>Es gelten folgende Richtlinien:</p>
<ol>
  <li><strong>Sei bitte respektvoll</strong>: Vermeide beleidigende, aggressive oder abwertende Sprache. Jeder hat ein Recht auf seine eigene Meinung und es ist wichtig, diese Unterschiede zu respektieren.</li>
  <li><strong>Bleibe beim Thema</strong>: Kommentare sollen sich auf die Zitate, Autoren, Kategorien oder die jeweilige Diskussion beziehen.</li>
  <li><strong>Kein Spam oder Werbung</strong>: Kommentare, die für Produkte, Dienstleistungen oder andere Websites werben, werden gelöscht.</li>
  <li><strong>Schütze Deine Privatsphäre</strong>: Gebe keine persönlichen Informationen wie Telefonnummer oder E-Mail-Adresse in Kommentaren preis.</li>
  <li><strong>Keine Hassreden</strong>: Kommentare, die Hass oder Diskriminierung aufgrund von Rasse, Geschlecht, Religion, Nationalität, Behinderung, sexueller Orientierung oder Alter fördern, werden gelöscht.</li>
  <li><strong>Verwende bitte eine angemessene Sprache</strong>: Vermeide vulgäre oder obszöne Ausdrücke.</li>
  <li><strong>Keine illegalen Inhalte</strong>: Es ist nicht gestattet, Inhalte zu teilen oder zu fördern, die illegal sind.</li>
</ol>
<p>Die Administratoren behalten sich das Recht vor, Kommentare zu ändern oder zu löschen, die gegen diese Richtlinien verstoßen.</p>

<h2>Sichtbarkeit</h2>
<p>
  Wenn du neue Zitate, Kategorien oder Autoren hinzufügst, sind diese zunächst nur hier sichtbar.
  Das Feld „Öffentlich: Nein” zeigt das an.
  Ein Administrator muss deine Beiträge freigeben, bevor sie auf den Websites ausgespielt werden.
  Solltest du später Änderungen an deinen Beiträgen vornehmen, wird die Sichtbarkeit erneut eingeschränkt, bis ein Administrator sie wieder freischaltet.
  Dieser Prozess verhindert den Missbrauch der Zitate und Links, wenn sie auf anderen Websites ausgespielt werden.
</p>

<h2>Fehler oder Erweiterungen</h2>
<p>Wenn du einen Fehler entdeckst oder dir eine Erweiterung wünschst, dann erstelle uns bitte ein <a target="_blank" href="https://github.com/muhme/quote/issues">Ticket</a>. Wir werden uns dann so schnell wie möglich um Dein Anliegen kümmern.</p>
