<h1>Ayuda</h1>
<p>Me alegra que est칠s aqu칤. El Servicio de Citas zitat-service.de te proporciona una colecci칩n personalizada de citas ordenadas por autores y categor칤as. Despu칠s de <%= link_to 'iniciar sesi칩n', '/es/login' %>, puedes crear tus propias citas. Ya hemos recopilado <%= nice_number(Quotation.count) %> citas de <%= nice_number(Author.count) %> autores y las hemos organizado en <%= nice_number(Category.count) %> categor칤as. Nuestro servicio est치 disponible desde 2007 y es completamente gratuito y sin publicidad.</p>
<p>Si deseas incrustar nuestras citas en tu propia p치gina de inicio, puedes encontrar instrucciones sobre c칩mo hacerlo en <a href="/es/start/use">Incrustar</a>.</p>

<h2>Bienvenida</h2>
<p>Para volver a la p치gina principal de la aplicaci칩n web, simplemente haz clic en el logo <%= image_tag("quote_service_16.png", :alt => "Logo", :title => "www.zitat-service.de") %> en la esquina superior izquierda. Ah칤 tienes, por ejemplo, una b칰squeda de texto de todas las citas.</p>

<h2>Selecci칩n de idioma 游쀯릖</h2>
<p>
  Al hacer clic en la bandera, puedes seleccionar el idioma deseado.
  El acceso directo tambi칠n es posible, por ejemplo, para ingl칠s con:
  <a href="https://www.zitat-service.de/en/">https://www.zitat-service.de/en/</a>.
</p><p>
  Las citas, categor칤as y comentarios se crean en el idioma seleccionado actualmente.
  Posteriormente, las categor칤as se traducen autom치ticamente a otros idiomas.
  Por favor, ten en cuenta que utilizamos la ortograf칤a americana para el ingl칠s.
</p><p>
  El ingl칠s es el idioma predeterminado de nuestra aplicaci칩n web.
  Si ciertos campos (como un enlace web) no est치n completos en otros idiomas,
  los complementamos autom치ticamente con la informaci칩n de la versi칩n en ingl칠s.
  Esto asegura que siempre tengas a tu disposici칩n toda la informaci칩n necesaria.
</p>

<div class="large_right"><%= image_tag("autocomplete.gif", :alt => "Se muestra c칩mo crear una cita.", :title => "Ver", :border => 1, size: '466x315') %><br />Ejemplo: <%= link_to 'Und jedem Anfang wohnt ein Zauber inne ...', '/es/quotations/898' %></div>
<h2>Citas</h2>
<p>En la lista de <%= link_to 'citas', '/es/quotations' %>, puedes ver todos los detalles de una cita haciendo clic en el ojo <%= image_tag("eye.png", :alt => "Ojo", :title => "Ver") %>. Si has iniciado sesi칩n, puedes ingresar nuevas citas.
Puedes editar tus propias citas haciendo clic en el l치piz <%= image_tag("pencil.png", :alt => "L치piz", :title => "Editar") %>, o eliminarlas haciendo clic en la cruz roja <%= image_tag("cancel.png", :alt => "Cruz roja", :title => "Eliminar") %>. Por favor, ten en cuenta que la eliminaci칩n s칩lo es posible si la cita no tiene comentarios.</p>
<p>Al agregar una nueva cita, puedes seleccionar al autor escribiendo las primeras letras de su apellido. Si no conoces al autor, simplemente deja el campo en blanco.</p>
<p>Por favor, proporciona la fuente original de tu cita, como el t칤tulo del libro. Si conoces un documento en Internet donde se pueda encontrar la cita en el texto original, proporciona el enlace. No enlaces a p치ginas donde se pueda comprar el libro u otra informaci칩n.</p>
<p>Puedes asignar tantas categor칤as a tu cita como desees. Las categor칤as que ya se han encontrado como palabras en la cita se pueden agregar con un clic en el icono de rayo <%= image_tag("lightning.png", :alt => "Rayo", :title => "Marcar para sugerencias") %> .</p>
<p>Si encuentras que falta un autor o una categor칤a, puedes agregarlos t칰 mismo. Haz clic en <%= link_to 'Crear Autor','/es/authors/new' %> o <%= link_to 'Crear Categor칤a', '/es/categories/new' %>. Despu칠s, puedes agregar el autor o la categor칤a editando tu cita.</p>

<h2 id="copyright">Derechos de autor</h2>
<p>Ten en cuenta que las citas tambi칠n est치n sujetas a la ley alemana de derechos de autor. Esto significa que las obras protegidas por derechos de autor no pueden utilizarse sin el permiso del autor. Se permiten citas individuales, pero no deben haber m치s de cinco a diez citas por autor. En cuanto a las traducciones, ten en cuenta que el traductor goza de protecci칩n de derechos de autor al igual que un autor.</p>
<p>Para utilizar una cita de acuerdo con la ley de derechos de autor, debes proporcionar una cita de la fuente. Esto generalmente consiste en el t칤tulo del libro, a침o de publicaci칩n y n칰mero de p치gina.</p>
<p>Ya que ha habido informes de 칩rdenes de cesar y desistir, no aceptamos citas de Karl Valentin, Erich K칛stner o Heinz Erhardt (ver, por ejemplo, <a href="http://www1.wdr.de/themen/archiv/sp_urheberrecht/valentin100.html">Karl Valentin und die Anw칛lte</a>, WDR 2012).</p>
</p>
<p>Las citas de autores que han fallecido hace m치s de 70 a침os est치n en el dominio p칰blico y pueden usarse libremente.</p>

<h2>Categor칤as</h2>
<p>En nuestra colecci칩n, todas las citas est치n asignadas a temas espec칤ficos, como
   <%= link_to "Fortuna", controller: :categories, action: :show, id: 7 %>,
   <%= link_to "Humano", controller: :categories, action: :show, id: 32 %> o
   <%= link_to "Sonrisa", controller: :categories, action: :show, id: 139 %>.
   Una cita puede ser asignada a m칰ltiples categor칤as. Puedes ver todas las <%= link_to 'categor칤as', controller: :categories %> que se han creado hasta ahora.
   Cuando haces clic en el ojo <%= image_tag("eye.png", alt: "Ojo", title: "Ver") %>,
   obtendr치s m치s detalles sobre esa categor칤a. Si has creado la entrada para la categor칤a t칰 mismo,
   puedes editarla haciendo clic en el l치piz <%= image_tag("pencil.png", alt: "L치piz", title: "Editar") %>.
   Tambi칠n puedes ver cu치ntas citas est치n asignadas a una categor칤a y ver todas las citas en esa categor칤a.</p>
<p>Las categor칤as se traducen autom치ticamente a otros idiomas. Puedes editar o volver a traducir las traducciones de las categor칤as que has creado.
   Las categor칤as son 칰nicas en un idioma y no puedes crear la misma categor칤a dos veces. Sin embargo, la traducci칩n autom치tica puede resultar en duplicados en otros idiomas.
   Si el nombre de la categor칤a aparece dos veces, se mostrar치 un s칤mbolo de advertencia <%= image_tag("error.png", alt: t("g.error_alt"), title: t("g.duplicate", count: 1)) %>, enlazando al duplicado de la categor칤a.
   쯇uedes usar un nombre diferente para la categor칤a? 쯆 se puede ajustar la traducci칩n?
   Los significados pueden variar en las diferentes lenguas.
   Por lo tanto, nos esforzamos por encontrar uno que sea lo m치s similar posible en todos los idiomas.
   Si necesitas asistencia, por favor no dudes en dejarnos un comentario.
   Un administrador se encargar치 de ello con gusto.</p>
<p>Si una categor칤a que has creado no contiene citas ni comentarios, puedes eliminarla haciendo clic en la cruz roja <%= image_tag("cancel.png", :alt => "cruz roja", :title => "Eliminar") %>.</p>

<h2>Autores</h2>
<p>Al ver la lista de <%= link_to 'autores', '/es/authors' %>, puedes hacer clic en el ojo <%= image_tag("eye.png", :alt => "Ojo", :title => "Ver") %> para ver m치s detalles sobre un autor. Si has creado un autor t칰 mismo, puedes editarlo usando el l치piz <%= image_tag("pencil.png", :alt => "L치piz", :title => "Editar") %>. Tambi칠n puedes ver cu치ntas citas est치n asignadas a un autor y mostrar todas las citas de ese autor.</p>
<p>Los autores se traducen autom치ticamente a otros idiomas, teniendo en cuenta su nombre, apellido y descripci칩n. Si el enlace se refiere a un art칤culo de Wikipedia, se intentar치 encontrar los art칤culos correspondientes en otros idiomas. Tienes la opci칩n de editar o volver a traducir las traducciones de los autores que has creado.</p>
<p>Puedes eliminar una entrada de autor que hayas creado haciendo clic en la cruz roja <%= image_tag("cancel.png", :alt => "cruz roja", :title => "Eliminar") %> siempre que no contenga ninguna cita o comentario.</p>

<h2 id="comments">Comentarios</h2>
<p>
  Tienes la oportunidad de comentar sobre citas, autores y categor칤as. 
  Sin embargo, primero debes iniciar sesi칩n para hacerlo.
  Tus comentarios ser치n marcados de acuerdo con el idioma que est치s utilizando.
  Adem치s, tambi칠n tienes la opci칩n de editar o eliminar tus propios comentarios si lo deseas.
  Un comentario puede contener hasta 512 caracteres. Si quedan menos de 100 caracteres, el contador disminuir치.
  Adicionalmente, puedes agregar enlaces internos a zitat-service.de, por ejemplo, en la forma de Suerte:https://www.zitat-service.de/de/categories/7.
</p>
<p>Se aplican las siguientes directrices:</p>
<ol>
  <li><strong>Por favor, s칠 respetuoso</strong>: Evita el lenguaje ofensivo, agresivo o despectivo. Todos tienen derecho a su propia opini칩n y es importante respetar estas diferencias.</li>
  <li><strong>Mantente en el tema</strong>: Los comentarios deben relacionarse con las citas, autores, categor칤as o la respectiva discusi칩n.</li>
  <li><strong>No spam o publicidad</strong>: Se eliminar치n los comentarios que promocionen productos, servicios u otros sitios web.</li>
  <li><strong>Protege tu privacidad</strong>: No divulges informaci칩n personal como n칰mero de tel칠fono o direcci칩n de correo electr칩nico en los comentarios.</li>
  <li><strong>No al discurso de odio</strong>: Se eliminar치n los comentarios que promuevan el odio o la discriminaci칩n basada en raza, g칠nero, religi칩n, nacionalidad, discapacidad, orientaci칩n sexual o edad.</li>
  <li><strong>Por favor, utiliza un lenguaje adecuado</strong>: Evita las expresiones vulgares u obscenas.</li>
  <li><strong>No a contenidos ilegales</strong>: No est치 permitido compartir o promocionar contenidos ilegales.</li>
</ol>
<p>Los administradores se reservan el derecho de modificar o eliminar los comentarios que violen estas directrices.</p>

<h2>Visibilidad</h2>
<p>
  Cuando agregas nuevas citas, categor칤as o autores, inicialmente solo son visibles aqu칤.
  El campo "P칰blico: No" indica esto.
  Un administrador debe aprobar tus contribuciones antes de que se muestren en los sitios web.
  Si m치s tarde haces cambios en tus contribuciones, su visibilidad se limita nuevamente hasta que un administrador las vuelve a aprobar.
  Este proceso previene el mal uso de las citas y enlaces cuando se muestran en otros sitios web.
</p>

<h2>Errores o Extensiones</h2>
<p>Si descubres un error o deseas solicitar una extensi칩n, por favor crea un <a target="_blank" href="https://github.com/muhme/quote/issues">ticket</a> para nosotros. Abordaremos tu inquietud lo m치s pronto posible.</p>
