<h1>Help</h1>
<p>Glad you're here. The Quote Service zitat-service.de provides you with a personalized collection of quotes sorted by authors and categories. After <%= link_to 'logging in', '/en/login' %>, you can create your own quotes. We have already collected <%= nice_number(Quotation.count) %> quotes from <%= nice_number(Author.count) %> authors and organized them into <%= nice_number(Category.count) %> categories. Our service has been available since 2007 and is completely free of charge and ad-free.</p>
<p>If you would like to embed our quotes on your own homepage, you can find instructions on how to do so at <a href="/en/start/use">Embed</a>.</p>

<h2>Welcome</h2>
<p>To return to the home page of the web application, simply click on the logo <%= image_tag("quote_service_16.png", :alt => "Logo", :title => "www.zitat-service.de") %> in the top left corner. There you have e.g. a text search over all quotes.</p>

<h2>Language Selection 🇺🇸</h2>
<p>By clicking on the flag, you can select the desired language.
   Direct access is also possible, e.g., for English with:
   <a href="https://www.zitat-service.de/en/">https://www.zitat-service.de/en/</a>.
</p><p>
   Quotes, categories, and comments are created in the currently selected language.
   Subsequently, the categories are automatically translated into other languages.
   Please note that we use American spelling for English.
</p><p>
   English is the default language of our web application.
   If certain fields (such as a web link) are not filled out in other languages,
   we automatically supplement them with information from the English version.
   This ensures that all necessary information is always available to you.
</p>

<h2>User Entry</h2>
<!-- 9.png is 'He' -->
<p><%= image_tag("#{AVATARS_URL}/9.png", class: "avatar float-left margin-right-1em") %>Clicking on your avatar
   will take you to a page where you can change your username, e-mail address, password and avatar image.
   Your initial avatar image is automatically created by combining the first two letters of your username with
   a randomly selected color. If a Gravatar is already linked to your email address, this will automatically
   be used as your avatar. Alternatively, you have the option of uploading your own image and using it as your avatar.
</p>

<div class="large_right"><%= image_tag("autocomplete.gif", :alt => "Creating a quote is shown.", :title => "View", :border => 1, size: '466x315') %><br />Example: <%= link_to 'Und jedem Anfang wohnt ein Zauber inne ...', '/en/quotations/898' %></div>
<h2>Quotes</h2>
<p>In the list of <%= link_to 'quotes', '/en/quotations' %>, you can view all the details of a quote by clicking on the eye <%= image_tag("eye.png", :alt => "Eye", :title => "View") %>. If you are logged in, you can enter new quotes. You can edit your own quotes by clicking on the pencil <%= image_tag("pencil.png", :alt => "Pencil", :title => "Edit") %>, or delete them by clicking on the red cross <%= image_tag("cancel.png", :alt => "Red cross", :title => "Delete") %>. Please note that deletion is only possible if the quote has no comments.</p>
<p>When adding a new quote, you can select the author by typing the first letters of their last name. If you do not know the author, simply leave the field blank.</p>
<p>Please provide the original source for your quote, such as the book title. If you know of a document on the internet where the quote can be found in the original text, please provide the link. Do not link to pages where you can buy the book or other information.</p>
<p>You can assign as many categories to your quote as you like. Categories that have already been found as words in the quote can be added with a click on the lightning bolt <%= image_tag("lightning.png", :alt => "Lightning bolt", :title => "Mark for suggestions") %> icon.</p>
<p>If you find that an author or category is missing, you can add them yourself. Click on <%= link_to 'Create Author', '/en/authors/new' %> or <%= link_to 'Create Category', '/en/categories/new' %>. Afterwards you can add the author or category by editing your quote.</p>

<h2 id="copyright">Copyright</h2>
<p>Please note that quotes are also subject to German copyright law. This means that copyrighted works may not be used without the author's permission. Individual quotes are
allowed, but there should be no more than five to ten quotes per author. When it comes to translations, keep in mind that the translator enjoys copyright protection just like an author.</p>
<p>To use a quote in accordance with copyright law, you must provide a source citation. This usually consists of the book title, publication year, and page number.</p>
<p>As there have been reports of cease and desist orders, we do not accept quotes from Karl Valentin, Erich Kästner, or Heinz Erhardt (see, for example, <a href="http://www1.wdr.de/themen/archiv/sp_urheberrecht/valentin100.html">Karl Valentin und die Anwälte</a>, WDR 2012).</p>
</p>
<p>Quotes from authors who have been deceased for more than 70 years are in the public domain and can be used freely.</p>

<h2>Quote Check</h2>
<p>When a new quote is created, please provide the source,
   to avoid incorrect citation. Many alleged quotes have been distorted,
   simply made up, or misattributed as a cuckoo quote to an author.</p>
<p>A verification can be done with <a href="https://en.wikiquote.org">Wikiquote</a> or <a href="https://quoteinvestigator.com">Quote Investigator®</a>.</p>
<p>If the quote or the author is not clearly verified, please comment on the quote so that
   someone else can check it.</p>
   
<h2>Categories</h2>
<p>In our collection, all quotes are assigned to specific themes, such as
   <%= link_to "Happiness", controller: :categories, action: :show, id: 7 %>,
   <%= link_to "Human", controller: :categories, action: :show, id: 32 %> or
   <%= link_to "Smile", controller: :categories, action: :show, id: 139 %>.
   A quote can be assigned to multiple categories. You can view all the <%= link_to 'Categories', controller: :categories %> that have been created so far.
   When you click on the eye <%= image_tag("eye.png", alt: "Eye", title: "View") %>,
   you will get more details about that category. If you have created the entry for the category yourself,
   you can edit it by clicking on the pencil <%= image_tag("pencil.png", alt: "Pencil", title: "Edit") %>.
   You can also see how many quotes are assigned to a category and view all the quotes in that category.</p>
<p>Categories are automatically translated into other languages. You can edit or re-translate the translations of the categories you have created.
   Categories are unique in a language, and you cannot create the same category twice. However, machine translation may result in duplicates in other languages.
   If the name of the category appears twice, a warning symbol <%= image_tag("error.png", alt: t("g.error_alt"), title: t("g.duplicate", count: 1)) %> will be displayed, linking to the duplicate category.
   Can you use a different name for the category? Or can the translation be adjusted?
   Meanings can vary across different languages.
   Therefore, we strive to find one that is as similar as possible in all languages.
   If you need assistance, please do not hesitate to leave us a comment.
   An administrator will gladly take care of it.</p>
<p>If a category you created does not contain quotes and comments, you can delete this category by clicking on the red cross.</p>

<h2>Authors</h2>
<p>When you view the list of <%= link_to 'authors', '/en/authors' %>, you can click on the eye <%= image_tag("eye.png", :alt => "Eye", :title => "View") %> to see more details about an author. If you have created an author yourself, you can edit them using the pencil <%= image_tag("pencil.png", :alt => "Pencil", :title => "Edit") %>. You can also see how many quotes are assigned to an author and display all quotes from that author.</p>
<p>Authors are machine-translated into other languages, considering their first name, last name, and description. If the link refers to a Wikipedia article, an attempt is made to find the corresponding articles in other languages. You have the option to edit or re-translate the translations of the authors you have created.</p>
<p>You can delete an author entry you've created by clicking on the red cross <%= image_tag("cancel.png", :alt => "red cross", :title => "Delete") %> as long as it doesn't contain any quotes or comments.</p>

<h2 id="comments">Comments</h2>
<p>
  You have the opportunity to comment on quotes, authors, and categories. 
  However, you must first log in to do so. 
  Your comments will be marked according to the language you are using.
  Moreover, you also have the option to edit or delete your own comments if you wish.
  A comment can contain up to 512 characters. If there are less than 100 characters remaining, the count will be decreased.
  Additionally, you can add internal links to zitat-service.de, for example in the form of Luck:https://www.zitat-service.de/de/categories/7.
</p>
<p>The following guidelines apply:</p>
<ol>
  <li><strong>Please be respectful</strong>: Avoid offensive, aggressive, or derogatory language. Everyone has a right to their own opinion and it's important to respect these differences.</li>
  <li><strong>Stay on topic</strong>: Comments should relate to the quotes, authors, categories, or the respective discussion.</li>
  <li><strong>No spam or advertising</strong>: Comments advertising products, services, or other websites will be deleted.</li>
  <li><strong>Protect your privacy</strong>: Do not disclose personal information such as phone number or email address in comments.</li>
  <li><strong>No hate speech</strong>: Comments promoting hate or discrimination based on race, gender, religion, nationality, disability, sexual orientation, or age will be deleted.</li>
  <li><strong>Please use appropriate language</strong>: Avoid vulgar or obscene expressions.</li>
  <li><strong>No illegal content</strong>: Sharing or promoting illegal content is not allowed.</li>
</ol>
<p>The administrators reserve the right to modify or delete comments that violate these guidelines.</p>

<h2>Visibility</h2>
<p>
  When you add new quotes, categories, or authors, they are initially only visible here.
  The field "Public: No" indicates this.
  An administrator has to approve your contributions before they are displayed on the websites.
  If you make changes to your contributions later, their visibility is again limited until an administrator re-approves them.
  This process prevents the misuse of quotes and links when they are displayed on other websites.
</p>

<h2>Errors or Extensions</h2>
<p>If you discover a bug or want a feature enhancement, please create an <a target="_blank" href="https://github.com/muhme/quote/issues">issue</a> for us. We will address your concern as soon as possible.</p>
