<p>English readers please jump to <%= link_to 'joomla_english', :action => 'joomla_english' %>.</p>
<h1>Zitate in <%= link_to(image_tag("joomla.png", :alt => "Joomla! Logo", :title => "Joomla!", :border => "0"), 'https://www.joomla.org', :class => 'not_dashed') %> einbinden</h1>
<p>Diese Seite beschreibt die Möglichkeiten zum Einbinden der Zitate von <a href="https://www.zitat-service.de">www.zitat-service.de</a> in das <a href="https://www.joomla.org">CMS Joomla!</a>. Kosten- und Werbefrei können Zufalls-Zitate in Joomla! von Autoren, Kategorien oder der eigenen Zitatesammlung angezeigt werden.</p>
<div style="float: right; margin: 4ex 0 4ex 2em;"><%= link_to(image_tag("joomla_30_4_small.png", :alt => "Joomla! 3.0 Modulzuweisung", :title => "Joomla! 3.0 Modulzuweisung", :border => "1"), asset_url('joomla_30_4.png'), :class => "not_dashed") %></div>
<div style="float: right; margin: 4ex 0 4ex 2em;"><%= link_to(image_tag("joomla_30_1_small.png", :alt => "Joomla! 3.0 Status Veröffentlicht", :title => "Joomla! 3.0 Details", :border => "1"),  asset_url('joomla_30_1.png'), :class => "not_dashed") %></div>
<div style="float: right; margin: 4ex 0 4ex 2em;"><%= link_to(image_tag("joomla_30_0_small.png", :alt => "Joomla! 3.0 Module-Installation", :title => "Joomla! 3.0 Module-Installation", :border => "1"),  asset_url('joomla_30_0.png'), :class => "not_dashed") %></div>
<h2>Für Joomla! Version 3
<%=
	image_tag("joomla30.png", :alt => "Joomla! 3.0 kompatibel", :title => "Joomla! 3.0 kompatibel")
%>
</h2>
<p>Modul-Version 1.4.2 vom 4. Oktober 2019 verwendet TLS (https) und unterstützt den automatischen Update-Mechanismus. Für die Installation im Joomla! Backend als Administrator:</p>
<ul>
  <li>das Modul mod_zitat_service_de über "Erweiterungen | Installieren" von der folgenden Webadresse installieren:<br />
https://www.zitat-service.de/joomla/mod_zitat_service_de_1.4.2.zip,</li>
  <li>dann das Modul auf "Veröffentlicht" setzen über "Erweiterungen | Module",</li>
  <li>die gewünschte Position im Template einstellen (z.B. position-7) und</li>
  <li>das Module den gewünschten Menüs zuordnen (z.B. "Auf allen Seiten").</li>
</ul>
<div style="clear: both; float: right; margin: 4ex 0 4ex 2em;"><%= link_to(image_tag("joomla_30_2_small.png", :alt => "Joomla! 3.0 Basis-Optionen", :title => "Joomla! 3.0 Basis-Optionen", :border => "1"), asset_url('joomla_30_2.png'), :class => "not_dashed") %></div>
<p>Mit den Basisoptionen des Moduls ist es möglich die angezeigten Zitate:</p>
<ul>
  <li>auf einen Autor (z.B. Goethe),</li>
  <li>eine Kategorie (z.B. Fussball) oder</li>
  <li>auf die selbst eingestellten Zitate mit einem, z.B. dem eigenen, Benutzernamen einzuschränken.</li>
</ul>
<div style="clear: both; float: right; margin: 4ex 0 4ex 2em;"><%= link_to(image_tag("joomla_30_3_small.png", :alt => "Joomla! 3.0 Status Veröffentlicht", :title => "Joomla! 3.0 Details", :border => "1"), asset_url('joomla_30_3.png'), :class => "not_dashed") %></div>
Standardmässig werden die Zitate im gleichen Fenster geöffnet. Mit den optionalen Parametern kann:</p>
<ul>
  <li>der Name eines Fensters (z.B. quote) angegeben werden und die Zitate, Quell- b.z.w. Autor-Links öffnen sich dann in einem neuen Fenster.</li>
  <li>Mit der Abfragemethode kann eingestellt werden wie das Zitat geholt wird. Die empfohlende Abfragemethode ist Asynchron mit JavaScript im Web-Browser. Der Seitenaufbau wird beschleunigt indem das Zitat erst nach dem Seitenaufbau geholt wird. Diese Option ist auch zwingend, wenn der Abruf des Zitates aus Joomla nicht möglich ist, z.B. weil allow_url_fopen in PHP ausgeschaltet ist.</li>
  <li>Da bei der asynchronen Abfragemethode das Zitat geholt wird nachdem die Seite schon aufgebaut wurde können nachfolgende Module <i>springen</i>. Das Modul sollte daher das letzte in einer Reihe sein (damit nach unten Platz ist) oder ein horizontaler Platz freigehalten werden. Die minimale Höhe des Moduls kann mit dem letzten Parameter angegeben werden, wenn keine eigener CSS existiert. Die Höhe kann z.B. mit 20ex oder 100px angegeben werden. Zum Testen der Höhe ist die Kategorie WebDesignTest gut geeignet da sie die kürzesten und längsten Zitate enthält.</li>
</ul>
<div style="clear: both; float: right; margin: 4ex 0 4ex 2em;"><%= link_to(image_tag("parameter_small.png", :alt => "Joomla! 1.5 Modulparameter", :title => "Joomla! 1.5 Modulparameter", :border => "1"), asset_url('parameter.png'), :class => "not_dashed") %></div>
<h2>Anpassung der Darstellung</h2>
<p>Die Darstellung des Zitats kann per cascading stylesheets (CSS) angepasst werden.
Das DIV-Element der Klasse <i>quote</i> umschließt das gesamte Zitat, hier kannst Du z.B. einen Rahmen setzen. Enthalten sind zwei DIV-Elemente der Klassen <i>quotation</i> für das Zitat und <i>source</i> für den Autor und die Quelle.
Das folgende Beispiel, entfernt die Standard-Link-Dekoration (unterstrichen), setzt das Zitat in schwarzer Schrift und größer als normal. Die Quelle (ob mit oder ohne Link) wird dann grau dargestellt:</p>
<div class="code">
div.quote * a {<br>
&nbsp;&nbsp;text-decoration:none;<br>
&nbsp;&nbsp;color: black;<br>
&nbsp;&nbsp;font-size: larger;<br>
}<br>
div.quote div.source, div.quote div.source a {<br>
&nbsp;&nbsp;color: gray;<br>
}
</div>
<p style="clear: both;">In Joomla sind die Zeilen an das benutzte Template anzuhängen (z.B. für das Template beez an die Datei beez/css/template.css).</p>
<h2>Einschränkungen und Fehlerbehandlung</h2>
<p>Das Joomla-Modul kann bei asynchronem Aufruf nur einmal auf einer Webseite eingebunden werden.</p>
<p>Wenn <pp>allow_url_fopen</pp> auf dem Server ausgeschalten ist, dann wird JavaScript eingefügt mit dem das Zitat angezeigt wird. Hat der Benutzer außerdem JavaScript im Web-Browser ausgeschaltet, dann wird immer das gleiche Zitat angezeigt und ein HTML-Kommentar dokumentiert das.</p>
<p>Für das Holen des Zitats wird ein Timeout von 3 Sekunden gesetzt. Wenn der Abruf vom Server länger dauert, dann wird ein Standard-Zitat angezeigt und die Fehlermeldung findet sich als HTML-Kommentar im Seiten-Quelltext.</p>
<h2>Beispiel einer Einbindung in Joomla</h2>
<ul>
  <li><a target="_blank" href="https://www.digitalflem.com/">Digital Fantasy Legacy Modder (FLEM)</a> - Zitate der Kategorie „English”, koloriert im Stil der Website</li> (Stand: 27. September 2022)
</ul>
<h2>Fehler oder Erweiterungen</h2>
<p>
Wenn Du einen Fehler entdeckt hast oder Dir eine Erweiterung wünschst, dann erstelle bitte ein GitHub <a target="_blank" href="https://github.com/muhme/quote/issues">Ticket</a>.</p>
<p>Zurück zur Einbindung im Allgemeinen und per IFRAME: <%= link_to(image_tag("arrow_undo.png", :alt => "Pfeil zurück", :title => "Zurück", :border => "0"), {:action => 'use'}, :class => 'not_dashed') %></p>
<hr>
<p style="font-size: small;">Joomla! Logos unter Copyright von <a href="http://www.opensourcematters.org">OpenSourceMatters</a>.
