<h1>Herzlich Willkommen beim Zitat-Service</h1>
<p>Eine gemeinsame Sammlung von Zitaten mit Links zu Autoren und Textstellen. Zum Einbinden auf den eigenen Webseiten sortiert nach Autor, Stichwort oder Benutzer. Aktuell haben wir <%= nice_number(Quotation.count) %> Zitate, von <%= nice_number(Author.count) %> Autoren in <%= nice_number(Category.count) %> Kategorien.</p>
<p>
  <%= form_tag("/quotations", method: "get") do %>
    <%= label_tag(:find, "In allen Zitaten suchen:") %><br />
    <%= text_field_tag(:pattern, '', autofocus: true) %>
    <%= submit_tag("Finden") %>
  <% end %>
</p>
<% unless @quotation.nil? %>
  <p>
    <div class="randomquote_title">Zufallszitat</div>
      <div class="randomquote">
      <span class="ListQuote"><%= raw h(@quotation.quotation) %></span><br>
      <% me = @quotation.get_linked_author_and_source -%>
      <% unless me.blank? -%>
        <span class="ListSource"><%= raw me %></span>
      <% end -%>
    </div>
  </p>
<% end %>
<h2>Dankeschön</h2>
<p><%= User.count %> Benutzer haben sich eingetragen. Die zuletzt eingestellten Zitate sind von <%= raw @users[0] %>, <%= raw @users[1] %> und <%= raw @users[2] %>.</p>
<h2>News</h2>
<dl>
  <dt><%= image_tag("asterisk_orange.png", :alt => "record", :title => "Record") %> 3. Januar 2021</dt>
    <dd>HTTP/2 konfiguriert</dd>
  <dt><%= image_tag("joomla_16x16.png", :alt => "Joomla!", :title => "Joomla!") %> 24. September 2019</dt>
    <dd>Es gibt ein neues Joomla! Modul für die Unterstützung von TLS (https) und dem Joomla-Update-Mechanismus: <%= link_to 'Einbinden/Joomla', :action => 'joomla' %>.</dd>
  <dt><%= image_tag("asterisk_orange.png", :alt => "record", :title => "Record") %> 24. März 2018</dt>
    <dd>Umzug des Web-Servers nach Frankfurt am Main zu dem Betreiber <a href="https://digitalocean.com/">DigitalOcean</a>.</dd>
  <dt><%= image_tag("asterisk_orange.png", :alt => "record", :title => "Record") %> 31. Januar 2018</dt>
    <dd>TLS-Zertifikat von <a href="https://letsencrypt.org">Let’s Encrypt</a> hinzugefügt, alle Aufrufe können nun über https erfolgen.</dd>
  <dt><%= image_tag("asterisk_orange.png", :alt => "record", :title => "Record") %> 5. Februar 2017</dt>
    <dd><a href="https://de.wikipedia.org/wiki/Cross-Origin_Resource_Sharing">Cross-Origin Resource Sharing (CORS)</a> wurde <a href="https://www.zitat-service.de/quote">quote</a> hinzugefügt.</dd>
  <dt><%= image_tag("exclamation.png", :alt => "explamination", :title => "Achtung!") %> 26. November 2012</dt>
    <dd>Bitte keine Zitate von Karl Valentin, Erich Kästner oder Heinz Erhardt einstellen (siehe <%= link_to 'Urheberrecht', :action => 'help', :anchor => 'urheberrecht' %>).</dd>
  <dt><%= image_tag("asterisk_orange.png", :alt => "record", :title => "Record") %> 16. Juli 2011</dt>
    <dd><a href="humans.txt">humans.txt</a> (We are People, Not Machines) wurde hinzugfügt. Danke!</dd>
  <dt><%= image_tag("asterisk_orange.png", :alt => "record", :title => "Record") %> 2. April 2011</dt>
    <dd>Der März war der erste Monat in dem mehr als 2 Million <font color="blue">:</font><font color="red">)</font> Zitate abgerufen wurden.</dd>
  <dt><%= image_tag("award_star_bronze_1.png", :alt => "admin", :title => "Administrator") %> 12. September 2010</dt>
    <dd><%= link_to 'Miguel', :controller => 'quotations', :action => 'list_by_user', :user => 'Miguel' %> hilft uns jetzt bei der Verwaltung der Zitate. Dankeschön!</dd>
  <dt><%= image_tag("pencil.png", :alt => "pencil", :title => "Pencil") %> 22. November 2009</dt>
    <dd>Der Platz für die Zitate wurden auf 512 Zeichen verdoppelt. Die Kategorie <a href="quotations/list_by_category/287">WebDesignTest</a> umfasst die kürzesten und längsten Zitate.</dd>
  <dt><%= image_tag("twitter.png", :alt => "twitter", :title => "Twitter") %> 3. September 2009</dt>
    <dd>Folge uns auf twitter: <a href="https://twitter.com/zitat">@zitat</a></dd>
</dl>
