<h1>Ласкаво просимо до сервісу цитат zitat-service.de</h1>
<p>Кожен може додавати цитати. Ви можете сортувати цитати за <%= link_to("авторами", locale: locale, controller: :authors) %> або
  <%= link_to("категоріями", locale: locale, controller: :categories) %> та
  <%= link_to("вбудовувати їх у власний веб-сайт", locale: locale, controller: :static_pages, action: :use) %> .</p>
<p>
  <%= form_tag(url_for(controller: :quotations, locale: I18n.locale), method: :get) do %>
    <%= text_field_tag(:pattern, '', autofocus: true) %>
    <%= submit_tag("Знайти") %>
    <%= raw("серед усіх #{link_to(nice_number(Quotation.count) + " цитат", locale: locale, controller: :quotations)}") %>
  <% end %>
</p>
<% unless @quotation.nil? %>
  <p>
    <div class="randomquote_title">Випадковий цитат</div>
      <div class="randomquote">
        <span class="ListQuote"><%= raw get_linked_quotation(@quotation) %></span><br>
        <% me = get_linked_author_and_source(@quotation) %>
        <% unless me.blank? %>
          <span class="ListSource"><%= raw me %></span>
        <% end %>
    </div>
  </p>
<% end %>
<h2>Дякуємо</h2>
<p><%= User.count %> користувачів зареєструвалися. Останні додані цитати від <%= raw @users[0] %>, <%= raw @users[1] %> та <%= raw @users[2] %>.</p>
<h2>Новини</h2>
<dl>
  <dt><%= image_tag("joomla_16x16.png", :alt => "Joomla!", :title => "Joomla!") %> 24 листопада 2023 року</dt>
    <dd>Є новий <a href="https://github.com/muhme/quote_joomla/wiki/%D0%94%D0%BE%D0%BF%D0%BE%D0%BC%D0%BE%D0%B3%D0%B0">модуль Joomla quote-service.de</a>. Під час оновлення можливо потрібно буде одноразово знову вибрати автора, категорію або користувача.</dd>
  <dt><%= image_tag("lightning.png", :alt => "жовтий блискавка", :title => "Ура") %> 20 вересня 2023 року</dt>
    <dd>Є новий API: <a href="https://api.zitat-service.de">api.api.zitat-service.de</a>.</dd>
  <dt><%= image_tag("asterisk_orange.png", :alt => "record", :title => "Record") %> 5 травня 2023</dt>
    <dd>Додано мови
      <%= link_to(raw("English &#x1F1FA;&#x1F1F8;"), root_url(locale: :en)) %>,
      <%= link_to(raw("Español &#x1F1EA;&#x1F1F8;"), root_url(locale: :es)) %>,
      <%= link_to(raw("日本語 &#x1F1EF;&#x1F1F5;"), root_url(locale: :ja)) %> та
      <%= link_to(raw("Українська &#x1F1FA;&#x1F1E6;"), root_url(locale: :uk)) %> .
    Якщо ви є носієм мови, будь ласка, допоможіть нам покращити машинний переклад.</dd>
  <dt><%= image_tag("asterisk_orange.png", :alt => "record", :title => "Record") %> 24 березня 2018</dt>
    <dd>Переїзд веб-сервера до Франкфурта-на-Майні до провайдера <a href="https://digitalocean.com/">DigitalOcean</a>.</dd>
  <dt><%= image_tag("exclamation.png", :alt => "explamination", :title => "Увага!") %> 26 листопада 2012</dt>
    <dd>Будь ласка, не додавайте цитати Карла Валентина, Еріха Кестнера або Гайнца Ерхардта (див. <%= link_to 'Авторське право', :action => 'help', :anchor => 'copyright' %>).</dd>
  <dt><%= image_tag("asterisk_orange.png", :alt => "record", :title => "Record") %> 16 липня 2011</dt>
    <dd><a href="humans.txt">humans.txt</a> (Ми люди, а не машини) – Дякуємо!</dd>
  <dt><%= image_tag("award_star_bronze_1.png", :alt => "admin", :title => "Адміністратор") %> 12 вересня 2010</dt>
    <dd><%= link_to 'Miguel', :controller => 'quotations', :action => 'list_by_user', :user => 'Miguel' %> тепер допомагає нам у керуванні цитатами. Дякуємо!</dd>
  <dt><%= image_tag("pencil.png", :alt => "pencil", :title => "Олівець") %> 22 листопада 2009</dt>
    <dd>Категорія <%= link_to('WebDesignTest', controller: :quotations, action: :list_by_category, category: 287 ) %> містить найкоротші та найдовші цитати.</dd>
</dl>
