<h1>Herzlich Willkommen bei zitat-service.de</h1>
<p>Jeder kann hier Zitate beitragen. Nach <%= link_to("Autoren", locale: locale, controller: :authors) %> oder
  <%= link_to("Kategorien", locale: locale, controller: :categories) %> sortiert können die Zitate
  <%= link_to("in die eigene Webseite eingebunden", locale: locale, controller: :static_pages, action: :use) %> werden.</p>
<p>
  <%= form_tag(url_for(controller: :quotations, locale: I18n.locale), method: :get) do %>
    <%= text_field_tag(:pattern, '', autofocus: true) %>
    <%= submit_tag("Finden") %>
    <%= raw("in allen #{link_to(nice_number(Quotation.count) + " Zitaten", locale: locale, controller: :quotations)}") %>
  <% end %>
</p>
<% unless @quotation.nil? %>
  <p>
    <div class="randomquote_title">Zufallszitat</div>
      <div class="randomquote">
      <span class="ListQuote"><%= raw h(@quotation.quotation) %></span><br>
      <% me = @quotation.get_linked_author_and_source -%>
      <% unless me.blank? -%>
        <span class="ListSource"><%= raw me %></span>
      <% end -%>
    </div>
  </p>
<% end %>
<h2>Dankeschön</h2>
<p><%= User.count %> Benutzer haben sich eingetragen. Die zuletzt eingestellten Zitate sind von <%= raw @users[0] %>, <%= raw @users[1] %> und <%= raw @users[2] %>.</p>
<h2>News</h2>
<dl>
  <dt><%= image_tag("asterisk_orange.png", :alt => "record", :title => "Record") %> 5. Mai 2023</dt>
    <dd>Die Sprachen
      <%= link_to(raw("English &#x1F1FA;&#x1F1F8;"), root_url(locale: :en)) %>,
      <%= link_to(raw("español &#x1F1EA;&#x1F1F8;"), root_url(locale: :es)) %>,
      <%= link_to(raw("日本語 &#x1F1EF;&#x1F1F5;"), root_url(locale: :ja)) %> und
      <%= link_to(raw("українська &#x1F1FA;&#x1F1E6;"), root_url(locale: :uk)) %> wurden hinzugefügt. Wenn Du ein Muttersprachler bist, helfe uns bitte die maschinelle Übersetzung zu verbessern.
    </dd>
  <dt><%= image_tag("joomla_16x16.png", :alt => "Joomla!", :title => "Joomla!") %> 24. September 2019</dt>
    <dd>Es gibt ein neues Joomla! Modul für die Unterstützung von TLS (https) und dem Joomla-Update-Mechanismus: <%= link_to 'Einbinden/Joomla', :action => 'joomla' %>.</dd>
  <dt><%= image_tag("asterisk_orange.png", :alt => "record", :title => "Record") %> 24. März 2018</dt>
    <dd>Umzug des Web-Servers nach Frankfurt am Main zu dem Betreiber <a href="https://digitalocean.com/">DigitalOcean</a>.</dd>
  <dt><%= image_tag("exclamation.png", :alt => "explamination", :title => "Achtung!") %> 26. November 2012</dt>
    <dd>Bitte keine Zitate von Karl Valentin, Erich Kästner oder Heinz Erhardt einstellen (siehe <%= link_to 'Urheberrecht', :action => 'help', :anchor => 'urheberrecht' %>).</dd>
  <dt><%= image_tag("asterisk_orange.png", :alt => "record", :title => "Record") %> 16. Juli 2011</dt>
    <dd><a href="humans.txt">humans.txt</a> (We are People, Not Machines) – Danke!</dd>
  <dt><%= image_tag("award_star_bronze_1.png", :alt => "admin", :title => "Administrator") %> 12. September 2010</dt>
    <dd><%= link_to 'Miguel', :controller => 'quotations', :action => 'list_by_user', :user => 'Miguel' %> hilft uns jetzt bei der Verwaltung der Zitate. Dankeschön!</dd>
  <dt><%= image_tag("pencil.png", :alt => "pencil", :title => "Pencil") %> 22. November 2009</dt>
    <dd>Die Kategorie <%= link_to('WebDesignTest', controller: :quotations, action: :list_by_category, category: 287 ) %> umfasst die kürzesten und längsten Zitate.</dd>
</dl>
