<h1>Bienvenido al servicio de citas zitat-service.de</h1>
<p>Todo el mundo puede contribuir con citas aquí. Las citas se pueden ordenar por <%= link_to("autores", locale: locale, controller: :authors) %> o
  <%= link_to("categorías", locale: locale, controller: :categories) %> y
  <%= link_to("incorporar en su propio sitio web", locale: locale, controller: :static_pages, action: :use) %>.</p>
<p>
  <%= form_tag(url_for(controller: :quotations, locale: I18n.locale), method: :get) do %>
    <%= text_field_tag(:pattern, '', autofocus: true) %>
    <%= submit_tag("Buscar") %>
    <%= raw("en todas #{link_to(nice_number(Quotation.count) + " citas", locale: locale, controller: :quotations)}") %>
  <% end %>
</p>
<% unless @quotation.nil? %>
  <p>
    <div class="randomquote_title">Zufallszitat</div>
      <div class="randomquote">
        <span class="ListQuote"><%= raw get_linked_quotation(@quotation) %></span><br>
        <% me = get_linked_author_and_source(@quotation) %>
        <% unless me.blank? %>
          <span class="ListSource"><%= raw me %></span>
        <% end %>
    </div>
  </p>
<% end %>
<h2>Gracias</h2>
<p><%= User.count %> usuarios se han registrado. Las últimas citas publicadas son de <%= raw @users[0] %>, <%= raw @users[1] %> y <%= raw @users[2] %>.</p>
<h2>Noticias</h2>
<dl>
  <dt><%= image_tag("asterisk_orange.png", :alt => "record", :title => "Record") %> 5 de mayo de 2023</dt>
    <dd>Se agregaron los idiomas
      <%= link_to(raw("English &#x1F1FA;&#x1F1F8;"), root_url(locale: :en)) %>,
      <%= link_to(raw("Español &#x1F1EA;&#x1F1F8;"), root_url(locale: :es)) %>,
      <%= link_to(raw("日本語 &#x1F1EF;&#x1F1F5;"), root_url(locale: :ja)) %> y
      <%= link_to(raw("Українська &#x1F1FA;&#x1F1E6;"), root_url(locale: :uk)) %>.
    Si es usted hablante nativo, ayúdenos a mejorar la traducción automática.</dd>
  <dt><%= image_tag("joomla_16x16.png", :alt => "Joomla!", :title => "Joomla!") %> 24 de septiembre de 2019</dt>
    <dd>Hay un nuevo módulo de Joomla! para soporte de TLS (https) y el mecanismo de actualización de Joomla: <%= link_to 'Integrar/Joomla', :action => 'joomla' %>.</dd>
  <dt><%= image_tag("asterisk_orange.png", :alt => "record", :title => "Record") %> 24 de marzo de 2018</dt>
    <dd>Traslado del servidor web a Frankfurt am Main al proveedor <a href="https://digitalocean.com/">DigitalOcean</a>.</dd>
  <dt><%= image_tag("exclamation.png", :alt => "explamination", :title => "¡Atención!") %> 26 de noviembre de 2012</dt>  
    <dd>Por favor, no publique citas de Karl Valentin, Erich Kästner o Heinz Erhardt (consulte <%= link_to 'Derechos de autor', :action => 'help', :anchor => 'copyright' %>).</dd>
  <dt><%= image_tag("asterisk_orange.png", :alt => "record", :title => "Record") %> 16 de julio de 2011</dt>
    <dd><a href="humans.txt">humans.txt</a> (Somos personas, no máquinas) - ¡Gracias!</dd>
  <dt><%= image_tag("award_star_bronze_1.png", :alt => "admin", :title => "Administrador") %> 12 de septiembre de 2010</dt>
    <dd><%= link_to 'Miguel', :controller => 'quotations', :action => 'list_by_user', :user => 'Miguel' %> nos ayuda ahora con la administración de las citas. ¡Gracias!</dd>
  <dt><%= image_tag("pencil.png", :alt => "pencil", :title => "Pencil") %> 22 de noviembre de 2009</dt>
    <dd>La categoría <%= link_to('WebDesignTest', controller: :quotations, action: :list_by_category, category: 287 ) %> incluye las citas más cortas y largas.</dd>
</dl>
