<h1>Projekt</h1>
<p>
Ich wollte eigene Zitate zu verschiedenen Themen auf meinen Webseiten einbinden und habe einen Zitat-Service gesucht, bei dem ich eine eigene Zitat-Sammlung einstellen und zu Themen wieder abrufen kann. Einen solchen Service habe ich nicht gefunden und so 2006 eine eigene Datenbank mit Abfrageskript aufgesetzt.
Nun habe ich diese Webanwendung zur Verwaltung der Zitate in der Datenbank
geschrieben und am 1. September 2007 online geschaltet.
</p>
<h2>Technisch</h2>
<p>
Das Projekt ist mit dem Web-Framework <a href="https://www.RubyOnRails.org">Ruby on Rails</a> implementiert. Die Anwendung ist Open-Source-Software und wird unter <a href="https://github.com/muhme/quote">https://github.com/muhme/quote</a> verwaltet.
</p>
<p>Wenn Du einen Fehler gefunden hast, oder Dir eine Erweiterung wünschst, dann öffnet bitte ein GitHub <a target="_blank" href="https://github.com/muhme/quote/issues">Ticket</a>.</p>
<h2>Mitarbeit</h2>
<p>
<%= image_tag("heart.png", :alt => "Herz", :title => "Herzlichen Dank") %> Vielen Dank an:
<ul>
<li>Marc James, dessen freie <a href="https://github.com/markjames/famfamfam-silk-icons">SILK ICONS</a> hier Anwendung finden</li>
<li><%= link_to 'Miguel', :controller => 'quotations', :action => 'list_by_user', :user => 'Miguel' %> der uns bei der Verwaltung der Zitate hilft</li>
</ul>
</p>
<p>Gefällt Dir die Idee und Du magst vielleicht auch mitmachen? Wir suchen:</p>
<ul>
<li>Muttersprachler – um die maschinellen Übersetzungen zu korrigieren
<li>Programmierer – die Lust haben die Webanwendung weiter zu entwickeln</li>
<li>Verwalter – die neue Zitate, Autoren und Kategorien prüfen und frei schalten</li>
<li>Screen-Designer – die der Website ein cooles Outfit verpassen wollen</li>
<li>Tester – z.B. mit Windows Computer</li>
<li>Menschen – die aus Spass an diesem Projekt mitmachen wollen</li>
</ul>
<p>
Bitte lass per <%= link_to "Email", :controller => "static_pages", :action => "contact" %> von Dir hören.
</p>

<h2>Zitat-Sammlungen</h2>
<p>Einige andere deutsch-sprachige Zitat-Sammlungen im Internet sind:</p>
<table  id="quote_collections" table cellspacing="0" cellpadding="5" border="1">
  <thead>
    <tr>
      <th>Sammlung</th>
      <th>Umfang<br />(Stand 1. Mai 2023)</th>
      <th class="center">Werbefrei</th>
      <th>Sonstiges</th>
  </thead>
  <tbody>
    <tr  class="ListLine0">
      <td><a href="http://de.wikiquote.org">wikiquote</a></td>
      <td>7.885 Artikel (≈ Autoren) in deutscher Sprache</td>
      <td class="center"><%= image_tag("accept.png", :alt => "OK", :title => "Werbefrei") %></td>
      <td>mit Quellenangaben, verschiedene Kategorien (z.B. nach Personen, Themen, Film-Zitate, Werbesprüche ...)</td>
    </tr>
    <tr class="ListLine1">
      <td><a href="https://www.zitate-und-sprichwoerter.com">www.zitate-und-sprichwoerter.com</a></td>
      <td>4.326 Zitate und Sprichwörter</td>
      <td class="center"><%= image_tag("accept.png", :alt => "OK", :title => "Werbefrei") %></td>
      <td>sortiert in Kategorien und nach Autoren, mit einer Volltextsuche</td>
    </tr>
    <tr class="ListLine0">
      <td><a href="https://wuensche-bilder.de">wuensche-bilder.de</a></td>
      <td>> 10.000 Sprüche, Wünsche und Zitate</td>
      <td class="center"><%= image_tag("accept.png", :alt => "OK", :title => "Werbefrei") %></td>
      <td>mit Bildern, sortiert in Kategorien, zum Teilen auf Facebook, Twitter und Pinterest</td>
    </tr>
    <tr class="ListLine1">
      <td><a href="https://geburtstag-wunsch.de">geburtstag-wunsch.de</a></td>
      <td>ca. 600 Zitate und Geburtstagswünsche</td>
      <td class="center"><%= image_tag("accept.png", :alt => "OK", :title => "Werbefrei") %></td>
      <td>mit Bildern, sortiert in Kategorien, zum Teilen auf Facebook, Twitter und Pinterest</td>
    </tr>
    <tr  class="ListLine0">
      <td><a href="http://zitate.net">zitate.net</a></td>
      <td>ca. 5.200 Zitate</td>
      <td class="center"><%= image_tag("cross.png", :alt => "cross, red", :title => "mit Werbung") %></td>
      <td>sortiert in Kategorien und nach Autoren, mit Homepage-Tool, mit Nachweisen und Fotos, Bewertungen und Kommentaren</td>
    </tr>
    <tr class="ListLine1">
      <td><a href="http://www.zitate.de">www.zitate.de</a></td>
      <td>ca. 12.000</td>
      <td class="center"><%= image_tag("cross.png", :alt => "cross, red", :title => "mit Werbung") %></td>
      <td>sortiert nach Kategorien, Autoren und Leserzitaten, mit Newsletter „Das Zitat des Tages, mit einer Volltextsuche“</td>
    </tr>
    <tr class="ListLine0">
    <td><a href="https://finestwords.de">finestwords.de</a></td>
    <td>ca. 20.000</td>
    <td class="center"><%= image_tag("cross.png", :alt => "OK", :title => "Werbefrei") %></td>
    <td>sortiert nach Kategorien und mit einer Volltextsuche</td>
  </tr>
  </tbody>
</table>
