<h1><%= t('password_resets.password_reset') %></h1>

<% if @user and @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= t("g.error", count: @user.errors.count) %></h2>
    <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
 
<p><%= t('.change', login: h(@user.login)) %></p>
<p><%= t('.twice') %></p>
 
<%= form_tag password_reset_path, :method => :put do %>
  <%= hidden_field_tag(:login, @user.login) %>
  <%= label_tag :password, t('activerecord.attributes.user.password'), class: "font-size-smaller" %><br />
  <%= password_field_tag(:password, :password, autofocus: true) %><br /><br />
  <%= label_tag :password, t('activerecord.attributes.user.password_confirmation'), class: "font-size-smaller" %><br />
  <%= password_field_tag :password_confirmation %><br /><br />
  <%= submit_tag t('.set_new_password') %>
<% end %>
