<!-- @formatter:off -->
<%= will_paginate @comments %>

<table class="border">

  <tr>
    <th><%= t("g.link") %></th>
    <th><%= t("g.date") %></th>
    <th><%= t("g.user") %></th>
    <th><%= t("g.comment") %></th>
    <th><%= t("g.locale") %></th>
  </tr>

  <%
    odd_or_even = 0
    for comment in @comments
      odd_or_even = 1 - odd_or_even
      dates = nice_date(comment.created_at)
      dates = nice_date(comment.updated_at) if comment.updated_at and comment.created_at and comment.updated_at > comment.created_at
  %>
      <tr valign="top" class="ListLine<%= odd_or_even %>">
        <td><%= link_to raw("#{image_tag_for_commentable_type(comment)} #{comment.commentable_id}"), locale: I18n.locale,
          controller: comment.commentable_type.pluralize.downcase, action: "show", id: comment.commentable_id %></td>
        <td><%= raw dates %></td>
        <td><%= hu(comment.user_id) %></td>
        <td><%= raw th(comment.comment, 40)%></td>
        <td><%= raw string_for_locale(comment.locale, true) %></td>
      </tr>
    <% end %>

</table>
