<% if current_user %>

  <%= form_tag(url_for(controller: :comments, action: :create, locale: I18n.locale), id: 'new_comment_form') do |form| %>

    <% if @comment and @comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= t("g.error", count: @comment.errors.count) %></h2>
        <ul>
          <% @comment.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= text_field_tag 'comment[comment]', nil, size: 80, maxlength: 512, autofocus: true %>
    <%= hidden_field_tag 'comment[commentable_type]', @commentable_type %>
    <%= hidden_field_tag 'comment[commentable_id]', @commentable_id %>
    <%= hidden_field_tag 'comment[locale]', I18n.locale %>
    <%= submit_tag t("g.add") %>
    <p class="opacity-50 font-size-smaller "><%= raw t("comments.rules", link: link_to(t("comments.guidelines"), start_help_path(locale: I18n.locale, anchor: "comments"))) %></p>
  <% end %>
<% else %>
  <p class="opacity-50 font-size-smaller "><%= raw t("comments.needs_login", login_link: link_to(t('layouts.application.login'), login_path(locale: I18n.locale))) %></p>
<% end %>
