<!-- @formatter:off -->

<%#= form_with(model: author, url: author_path(author, locale: I18n.locale), method: :patch, local: true) do |form| %>
<%= form_with(model: author, locale: I18n.locale, local: true) do |form| %>
  <% if author and author.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("g.error", count: author.errors.count) %></h2>
      <ul>
        <% author.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, label_and_description(t(".name"), t(".name_sample")) %><br/>
    <%= form.text_field :name, id: :author_name, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :firstname, label_and_description(t(".firstname"), t(".firstname_sample")) %><br/>
    <%= form.text_field :firstname, id: :author_firstname %>
  </div>

  <div class="field">
    <%= form.label :description,
               label_and_description(t(".description"), t(".description_sample")) %><br/>
    <%= form.text_field :description, id: :author_description %>
  </div>

  <div class="field">
    <%= form.label :link, label_and_description(t("g.link"), t(".link_sample")) %><br/>
    <%= form.text_field :link, id: :author_link %>
  </div>

  <% if current_user and current_user.admin==true %>
    <div class="field">
      <%= form.label :public, label_and_description(t("g.public")) %><br/>
      <%= form.check_box :public %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit t("g.save") %>
    &nbsp;
    <%= link_to(image_tag("arrow_undo.png", alt: t("g.arrow_undo_alt"), title: t("g.back"), border: "0"), action: "index" ) %>
  </div>

<% end %>
