<%= will_paginate @authors %>

<table border=1 cellpadding="5" cellspacing="0">
    <tr>
        <th><%= raw sorted_img_if('Name', link_to('Name', :controller => 'authors', :order => 'authors'), params[:order] == 'authors') %>
        <th>Beschreibung</th>
        <th><%= raw sorted_img_if('Zitate', link_to('Zitate', :controller => 'authors'), params[:order] != 'authors') %>
        <th>Aktionen</th>
    </tr>
  
    <%
    odd_or_even = 0
    for author in @authors
        odd_or_even = 1 - odd_or_even
        quotations = author.quotation_ids.size
    %>
        <tr valign="top" class="ListLine<%= odd_or_even %>">
            <td><%= raw author_name(author.firstname, author.name) %></td>
            <td><%= raw th(author.description,40) %></td>
            <td align="center"><%= link_to quotations.to_s, :controller => 'quotations', :action => 'list_by_author', :author => author.id %></td>
            <td class="ListActions">
                <%= link_to image_tag("eye.png", :alt => 'Auge', :title => 'Ansehen', :border => 0), :action => 'show', :id => author %>
                <% if can_edit?(author.user_id) %>
                    &nbsp;
                    <%= link_to image_tag("pencil.png", :alt => 'Stift', :title => 'Bearbeiten', :border => 0), :action => 'edit', :id => author %>
                    &nbsp;
                    <% if quotations == 0 %>
                        <%= link_to image_tag("cancel.png", :alt => 'rotes Kreuz', :title => 'Löschen', :border => 0), { :action => 'destroy', :id => author }, :method => :delete, data: { confirm: "Wirklich den Eintrag für den Autor \"" + author.get_author_name_or_blank + "\" löschen?" }  %>
                    <% end %>
                <% end %>
            </td>
        </tr>
    <% end %>
</table>

<%if current_user %>
  <p class="ListNavi">
    <%= button_to "Autor anlegen", { :action => "new" }, method: :get %>
  </p>
<% end %>
