<!-- @formatter:off -->
<h1><%= t("g.author") %></h1>

<div class="flex">
  <div>
    <table id="details">
      <tr>
        <td><%= t("g.id") %>:</td>
        <td><%= h(@author.id) %></td>
      </tr>
      <% ordered_locales.each do |locale| %>
        <% Mobility.with_locale(locale) do %>
          <tr>
            <td class="border-bottom-0"><%= if locale == I18n.locale
                "#{t("activerecord.attributes.author.name")}#{t("g.words_separator")}#{t("activerecord.attributes.author.firstname")}:"
              end %></td>
            <td class="border-bottom-0">
              <% if locale == I18n.locale %>
                <b><%= name_comma_firstname(@author.name, @author.firstname, locale) %></b>
              <% else %>
                <span class="opacity-50"><%= name_comma_firstname(@author.name, @author.firstname, locale) %></span>
              <% end %>
              <span class="float-right <%= "opacity-50" if locale != I18n.locale %>">
                <%= raw string_for_locale(locale) %>
              </span>
            </td>
          </tr>
          <tr>
            <% if locale == I18n.locale %>
              <td class="border-bottom-0"><%= "#{t("activerecord.attributes.author.description")}:" %></td>
              <td class="border-bottom-0"><%= h(@author.description) %></td>
            <% else %>
              <td class="border-bottom-0"></td>
              <td class="border-bottom-0 opacity-50"><%= h(@author.description) %></td>
            <% end %>
          </tr><tr>
            <% if locale == I18n.locale %>
              <td><%= "#{t("g.link")}:" %></td>
              <td><%= lh(@author.link) %></td>
            <% else %>
              <td></td>
              <td class="opacity-50"><%= lh(@author.link) %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
      <tr>
        <td><%= t("g.created") %>:</td>
        <td><%= nice_date(@author.created_at) %></td>
      </tr><tr>
        <td><%= t("g.by_the_user") %>:</td>
        <td><%= image_tag("#{AVATARS_URL}/#{@author.user_id}.png", class: "avatar-small") + " " + 
                hu(@author.user_id) %></td>
      </tr>
      <% if @author.created_at != @author.updated_at %>
        <tr>
          <td><%= t("g.updated") %>:</td>
          <td><%= nice_date(@author.updated_at) %></td>
        </tr>
      <% end %>
      <tr>
        <td><%= t("g.public") %>:</td>
        <td><%= t("g.public_value.#{@author.public}") %></td>
      </tr><tr>
        <td><%= t("g.quotes", count: @author.quotation_ids.size) %></td>
        <td><%= link_to(
            @author.quotation_ids.size.to_s,
            controller: "quotations",
            action: "list_by_author",
            author: @author.id
          ) %></td>
      </tr>
    </table>
  </div>
  <% if can_edit?(@author.user_id) %>
    <div class="padding-left-10px">
      <%= link_to(
        image_tag("pencil.png", alt: t("g.pencil"), title: t("g.edit")),
        { action: "edit", id: @author.id },
        { class: "no-decoration" }
      ) %>
    </div>
  <% end %>
</div>

<%= render partial: "comments/show" %>
