<%= form_with(model: user, local: true) do |form| %>
  <% if user and user.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("g.error", count: user.errors.count) %></h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :login, label_and_description(t("activerecord.attributes.user.login"), t(".login_sample")), class: "font-size-smaller" %><br/>
    <%= form.text_field :login, id: :user_login %>
  </div>

  <div class="field">
    <%= form.label :email, label_and_description(t("activerecord.attributes.user.email"), t(".email_sample")), class: "font-size-smaller" %><br/>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">  
    <p>
    <%= form.label :password, label_and_description(t("activerecord.attributes.user.password"), t(".password_sample")), class: "font-size-smaller" %><br/>
    <%= form.password_field :password %>
  </p>
  <p>
    <%= form.label :password_confirmation, label_and_description(t("activerecord.attributes.user.password_confirmation"), t(".confirmation_sample")), class: "font-size-smaller" %><br/>
    <%= form.password_field :password_confirmation %>
  </p>

  <div class="actions">
    <%= form.submit t("g.save") %>
    &nbsp;
    <%= link_to(image_tag("arrow_undo.png", alt: t("g.arrow_undo_alt"), title: t("g.back"), border: "0"), root_url) %>
  </div>

<% end %>
