<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> verhindert das Speichern des Eintrages:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :login, raw('Login <span class="example">(z.B. leon)</span>') %><br />
    <%= form.text_field :login, id: :user_login %>
  </div>

  <div class="field">
    <%= form.label :email, raw('E-Mail <span class="example">(z.B. leon@web.de)</span>') %><br />
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">  
    <p>
    <%= form.label :password, raw('Kennwort <span class="example">(mindestens 8 Zeichen lang)</span>') %><br />
    <%= form.password_field :password %>
  </p>
  <p>
    <%= form.label :password_confirmation, raw('Wiederholung <span class="example">(bitte das Kennwort wiederholen)</span>')  %><br />
    <%= form.password_field :password_confirmation %>
  </p>

  <div class="actions">
    <%= form.submit "Speichern" %>
    &nbsp; <%= link_to(image_tag("arrow_undo.png", :alt => "Pfeil zurück", :title => "Zurück", :border => "0"), root_url) %>
  </div>
<% end %>
