<% if quotation and quotation.errors.any? %>
  <div id="error_explanation">
    <h2><%= quotation.errors.count %> Fehler</h2>
    <ul>
    <% quotation.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%#= raw "modus: #{modus}<br><br>" %>

<%= form_with(model: quotation, local: true, html: { autocomplete: 'off' }) do |form| %>

  <div class="field">
    <%= form.label :quotation, raw('Zitat <span class="example">z.B. Erfahrungen vererben sich nicht - jeder muß sie allein machen.</span>') %><br />
    <%= form.text_area :quotation, {:cols => 80, :rows => 2, autofocus: true} %>
  </div>

  <%= render "quotations/search_author", author_id: quotation ? quotation.author_id : 0, modus: modus %>
  <div id="search_author_results"></div>

  <div class="top_space_field">
    <%= form.label :source, raw('Original-Quelle <span class="example">typischerweise ein Buchtitel, z.B. Gebrauchsanweisung, Glossen und Essays, 1930</span>') %><br />
    <%= form.text_field :source, {:size => 80, :maxlength => 255} %>
  </div>

  <div class="field">
    <%= form.label :source, raw('Link <span class="example">zu einer Website mit dem Original-Text der das Zitat enthält, z.B. http://www.textlog.de/tucholsky-anweisung.html') %><br />
    <%= form.text_field :source_link, {:size => 80, :maxlength => 255} %>
  </div>

  <div class="field">
    <%= form.label :categories, raw('Kategorien <span class="example">(mehrere mit &lt;Strg&gt; auswählen)') %><br />
    <% category_ids = @quotation ? @quotation.category_ids : [] %>
    <%= form.collection_select(:category_ids, Category.order(:category), :id, :category, { :selected => category_ids, :name => 'quotation[category_ids][]' }, { :multiple => true } ) %>
  </div>

  <% if current_user and current_user.admin == true %>
    <div class="field">
      <p><label for="author_public">Öffentlich</label><br/>
      <%= form.check_box :public %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit "Speichern" %>
    &nbsp; <%= link_to(image_tag("arrow_undo.png", :alt => "Pfeil zurück", :title => "Zurück", :border => "0"), :action => 'index') %>
  </div>

<% end %>
