<%= turbo_frame_tag :search_category_collected do %>
  <%#= raw("#{category_ids.class} category_ids=#{category_ids}, #{rec_ids.class} rec_ids=#{rec_ids}<br />") %>
  <%= hidden_field_tag 'quotation[category_ids][]', category_ids.join(',') %>
  <%= label_tag :category, t('g.number_of_categories', count: category_ids.count) %>
  <%# so far collected category list, linked to be removed from list %>
  <% category_ids.each do |id| %>
    <%# use CSS class="animated" for new added category %>
    <% css_class = (category_id.present? and category_id == id) ? "animated" : "none"  %>
    <%# if category is added then empty category field with JavaScript value="" (and not with Turbo Stream to not lose focus) %>
    <%= javascript_tag 'myCleanField("category")' if category_id.present? and category_id == id %>
    <%= link_to raw(Category.category_or_empty(id) + image_tag("cross.png", :alt => t("g.red_cross"), :title => t("g.delete"), :border => 0)), { :controller => 'quotations', :action => 'delete_category', ids: "#{(category_ids - [id]).join(',')}-#{rec_ids.join(',')}" }, class: css_class %>
  <% end %>
  <%# recommended category list, linked to be added %>
  <% if rec_ids.present? %>
    <% ids = category_ids.present? ? ",#{category_ids.join(',')}" : "" %>
    <% first = true %>
    <% rec_ids.each do |id| %>
      <% unless category_ids.include?(id) %>
        <% category = Category.find(id) %>
        <%= raw("<span class=\"example\"><br /> #{t('.one_click')}: </span>") if first %>
        <% first = false %>
        <%= link_to raw('<span class="example">' + Category.category_or_empty(category.id) + '</span>' + image_tag("lightning.png", :alt => t("g.lightning"), :title => t("g.add"), :border => 0)), controller: :quotations, action: :category_selected, ids: "#{category.id}#{ids}-#{rec_ids.join(',')}" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
