<%
    # create a list of categories with links and link titles with number of quotations
    categories = []
    for r in @quotation.categories
        categories[categories.length - 1] += ", " if categories.length > 0
        i = Category.find_by_id(r.id).quotation_ids.size
        category = h(r.category)
        categories << link_to(category, {:action => 'list_by_category', :category => r.id},
                :alt => "Zitate der Kategorie #{category}",
                :title => "#{i} Zitat" + (i == 1 ? "" : "e") + " der Kategorie #{category}")
    end

    # link to authors detail page
    author_name = @quotation.get_author_name_or_blank
    author = link_to(h(author_name), author_path(id: @quotation.author_id),
                :alt => "Link zum Autor #{author_name}",
                :title => "Autor #{author_name}")
    # link to authors quotes with number of quotations
    author_quotes = ""
    a = Author.find_by_id(@quotation.author_id)
    i = a.nil? ? 0 : a.quotations.size
    if (i > 1)
      author_quotes = h(" (")
      quotes = "#{i} Zitat"
      quotes += "e" if i > 1
      author_quotes += link_to(quotes, {:action => 'list_by_author', :author => @quotation.author_id},
                :alt => "Link zu den Zitaten des Autors #{@author_name}",
                :title => "#{quotes} des Autors #{author_name}")
      author_quotes += ")"
    end

    # user with links and link number of quotations in link title
    name = hu(@quotation.user_id)
    u = User.find_by_id(@quotation.user_id)
    i = u.nil? ? 0 : u.quotations.size
    if (i >= 1)
        user = link_to(name, {:action => 'list_by_user', :user => name},
                :alt => "Zitate des Benutzeres #{name}",
                :title => "#{i} Zitat" + (i == 1 ? "" : "e") + " des Benutzeres #{name}")
    else
        user = name
    end
%>
<h1>Zitat</h1>
<table id="details">
    <tr>
      <td valign=top>Nr:</td><td><%= h(@quotation.id) %></td>
    </tr><tr>
      <td valign=top>Zitat:</td><td><b><%= h(@quotation.quotation) %></b></td>
    </tr><tr>
      <td valign=top>Autor:</td><td><%= author %><%= author_quotes %></td>
    </tr><tr>
      <td valign=top>Quelle:</td><td><%= h(@quotation.source) %></td>
    </tr><tr>
      <td valign=top>Link&nbsp;zur&nbsp;Quelle:</td><td><%= lh(@quotation.source_link) %></td>
    </tr><tr>
      <td valign=top>Kategorien:</td><td><%= raw categories.join %></td>
    </tr><tr>
      <td valign=top>Angelegt:</td><td><%= nice_date(@quotation.created_at) %></td>
    </tr><tr>
      <td valign=top>Aktualisiert:</td><td><%= nice_date(@quotation.updated_at) %></td>
    </tr><tr>
      <td valign=top>Eingetragen&nbsp;von:</td><td><%= user %></td>
    </tr><tr>
      <td valign=top>Öffentlich:</td><td><%= @quotation.public? ? "Ja" : "Nein" %></td>
    </tr>
</table>

<p>
<% if can_edit?(@quotation.user_id) %>
    <%= link_to(image_tag("pencil.png", :alt => 'Stift', :title => 'Bearbeiten', :border => 0), {:action => 'edit', :id => @quotation.id}, :class => "not_dashed")%> &nbsp;
<% end %>
<%= link_to(image_tag("sm-plus.gif", :alt => 'Share', :title => 'Lesezeichen / Weitersagen', :border => 0), 'http://www.addthis.com/bookmark.php', :class => "not_dashed")%> &nbsp;
<%= link_to(image_tag("arrow_undo.png", :alt => 'Zurück-Pfeil', :title => 'Zurück', :border => 0), {:action => 'show'}, :class => "not_dashed")%>
</p>
