<%
    # create a list of ordered categories with links and link titles with number of quotations
    categories = []
    @quotation.categories.i18n.order(:category).each do |r|
        categories[categories.length - 1] += ", " if categories.length > 0
        i = r.quotation_ids.size
        category = h(r.category)
        categories << link_to(category, {action: :list_by_category, category: r.id},
                        title: "#{i} #{t("g.quotes", count: i)} #{t(".of_category", category: category)}")
    end

    # link to authors detail page
    author_name = @quotation.get_author_name_or_blank
    author = link_to(h(author_name), author_path(id: @quotation.author_id),
                :title => t(".author_link", author: author_name))
    # link to authors quotes with number of quotations
    
    a = Author.find_by_id(@quotation.author_id)
    i = a.nil? ? 0 : a.quotations.size
    # only show link if we have more quotes (as the actual shown) from this author
    author_quotes = i < 2 ? "" : link_to(t(".author_quotes", count: i), {action: :list_by_author, author: @quotation.author_id},
                                   title: t(".quotes_link", count: i, author: author_name ))

    # user with links and link number of quotations in link title
    name = hu(@quotation.user_id)
    u = User.find_by_id(@quotation.user_id)
    i = u.nil? ? 0 : u.quotations.size
    if (i >= 1)
        user = link_to(name, {action: :list_by_user, user: @quotation.user_id},
                 title: "#{i} #{t("g.quotes", count: i)} #{t(".of_user", user: name)}")
    else
        user = name
    end
%>
<h1><%=t("g.quotes", count: 1)%></h1>
<div class="flex">
  <div>
    <table id="details">
        <tr>
          <td valign=top><%= t("g.id") %>:</td>
          <td><%= h(@quotation.id) %></td>
        </tr><tr>
          <td valign=top><%= t("g.quotes", count: 1) %>:</td>
          <td><b><%= h(@quotation.quotation) %></b></td>
        </tr><tr>
          <td valign=top><%= t("g.authors", count: 1) %>:</td>
          <td><%= author %> <%= author_quotes %></td>
        </tr><tr>
          <td valign=top><%= t("quotations.form.source") %>:</td>
          <td><%= h(@quotation.source) %></td>
        </tr><tr>
          <td valign=top><%= t("quotations.form.link") %>:</td>
          <td><%= lh(@quotation.source_link) %></td>
        </tr><tr>
          <td valign=top><%= t("g.categories", count: 2) %>:</td>
          <td><%= raw categories.join %></td>
        </tr><tr>
          <td valign=top><%= t("g.created") %>:</td>
          <td><%= nice_date(@quotation.created_at) %></td>
        </tr><tr>
          <td valign=top><%= t("g.by_the_user") %>:</td>
          <td><%= user %></td>
        </tr><tr>
          <td valign=top><%= t("g.updated") %>:</td>
          <td><%= nice_date(@quotation.updated_at) %></td>
        </tr><tr>
          <td><%= t("g.public") %>:</td>
        <td><%= t("g.public_value.#{@quotation.public}") %></td>
        </tr>
    </table>
  </div>
  <% if can_edit?(@quotation.user_id) %>
    <div class="padding-left-10px">
      <%= link_to(image_tag("pencil.png", alt: t("g.pencil"), title: t("g.edit")), { action: "edit", id: @quotation.id }, { class: "no-decoration"} ) %>
    </div>
  <% end %>
</div>

<%= render partial: "comments/show" %>
