<!-- < %= error_messages_for 'category' %> TODO delete -->

<% if @category.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@category.errors.count, "error") %> verhindert das Speichern der Kategorie:</h2>
 
    <ul>
    <% @category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
  
<!--[form:category]-->

  <p>
    <%= f.label(:category, "Kategorie:") %><br />
    <%= f.text_field(:category) %>
  </p><p>
    <%= f.label(:description, "Beschreibung:") %><br />
    <%= f.text_area(:description) %>
  </p>

    <% if logged_in? and self.current_user.admin == true %>
        <p><label for="category_public">&Ouml;ffentlich</label><br/>
        <%= select(:category, :public, [['Nein',false],['Ja',true]]) %></p>
    <% end %>

<!--[eoform:category]-->
