<!-- @formatter:off -->

<h1><%= t("g.category") %></h1>

<div class="flex">
  <div>
    <table id="details">
      <tr>
        <td><%= t("g.id") %>:</td>
        <td><%= h(@category.id) %></td>
      </tr>
      <% ordered_locales.each do |locale| %>
        <tr>
          <td><%= "#{t("g.name")}:" if locale == I18n.locale %></td>
          <td>
            <% if locale == I18n.locale %>
              <b><%= h(@category.category(locale: locale)) %></b>
            <% else %>
              <span class="opacity-50"><%= h(@category.category(locale: locale)) %></span>
            <% end %>

            <% if @duplicate&.key?(locale.to_s) %>
              <%= link_to(image_tag("error.png", alt: t("g.error_alt"), title: t("g.duplicate", count: 1)),
                          { action: "show", id: @duplicate[locale.to_s] },
                          { class: "no-decoration"} ) %>
            <% end %>

            <span class="float-right <%= "opacity-50" if locale != I18n.locale %>">
              <%= raw string_for_locale(locale, true) %>
            </span>
          </td>
        </tr>
      <% end %>
      <tr>
        <td><%= t("g.created") %>:</td>
        <td><%= nice_date @category.created_at %></td>
      </tr>
      <tr>
        <td><%= t("g.by_the_user") %>:</td>
        <td><%= hu(@category.user_id) %></td>
      </tr>
      <% if @category.created_at != @category.updated_at %>
        <tr>
          <td><%= t("g.updated") %>:</td>
          <td><%= nice_date @category.updated_at %></td>
        </tr>
      <% end %>
      <tr>
        <td><%= t("g.public") %>:</td>
        <td><%= t("g.public_value.#{@category.public}") %></td>
      </tr>
      <tr>
        <td><%= t("g.quotes", count: @category.quotation_ids.size) %></td>
        <td><%= if @category.quotation_ids.size >= 1
            link_to(@category.quotation_ids.size.to_s, controller: "quotations", action: "list_by_category", category: @category.id)
          else
            "0"
          end %>
        </td>
      </tr>
    </table>
  </div>
  <% if can_edit?(@category.user_id) %>
    <div class="padding-left-10px">
      <%= link_to(image_tag("pencil.png", alt: t("g.pencil"), title: t("g.edit")), { action: "edit", id: @category.id }, { class: "no-decoration"} ) %>
    </div>
  <% end %>
</div>

<%= render partial: "comments/show" %>
