<h1><%= t(".login") %></h1>

<%= form_for @user_session do |f| %>

  <% if @user_session and @user_session.errors.any? %>
      <div id="error_explanation">
      <h2><%= t("g.error", count: @user_session.errors.count) %></h2>
      <ul>
        <% @user_session.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <p><%= raw("#{t(".already")} #{link_to t("password_resets.password_reset"), :controller => 'password_resets', :action => 'new'}") %>.</p>
  <% end %>
  
<div class="field">
  <%= f.label t('activerecord.attributes.user.login') %><br />
  <%= f.text_field :login, autofocus: true %>
</div>
<div class="field">
  <%= f.label t('activerecord.attributes.user.password') %><br />
  <%= f.password_field :password %><br />
</div>
<div class="actions">
    <%= f.submit t('.doit') %>
</div>
<% end %>

<p><%= raw("#{t('.no_user')} #{link_to(t('users.new.new'), new_user_path)}") %></p>
