<h1>Anmeldung</h1>

<%= form_for @user_session do |f| %>
  <% if @user_session.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user_session.errors.count, "error") %> prohibited:</h2>
    <ul>
      <% @user_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  
<div class="field">
  <%= f.label "Benutzername" %><br />
  <%= f.text_field :login, autofocus: true %>
</div>
<div class="field">
  <%= f.label "Kennwort" %><br />
  <%= f.password_field :password %><br />
</div>
<div class="actions">
    <%= f.submit "Anmelden" %>
</div>
<% end %>

<p><p>Du hast noch keinen Benutzer?<br>Dann lege Dir bitte selbst einen Benutzer an. Dann kannst Du selbst Zitate anlegen und bearbeiten: <%= link_to "Register", new_user_path %></p>