<!DOCTYPE html>
<html lang="<%= request.path.eql?('/start/joomla_english') ? 'en' : 'de' %>">
  <head>
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <span id="side">
      <div id="logo"><a href="/"><%= image_tag("quote_service_32.png", :size => "32x32", :alt => "Logo", :title => "www.zitat-service.de", :border => "0") %></a></div>
      <%= raw("<p>" + image_tag("user_orange.png", :alt => "Benutzer", :title => "Angemeldet") + " " +
          link_to(truncate(h(current_user.login), length: 7), edit_user_path(:current))) if current_user %>
      <%= raw (" " + image_tag("award_star_bronze_1.png", :alt => "Orden", :title => "Administrator")) if current_user and current_user.admin %>
      <%= raw "</p>" if current_user %>
      <div id="user_nav">
        <%= current_user ? link_to('Logout', logout_path) : link_to('Login', login_path) %>
      </div>
      <p><%= link_to "Zitate", :controller => "quotations" %> <%= link_to("+", :controller => "quotations", :action => "list_no_public") if has_non_public(Quotation) %></p>
      <p id="letter"><%= link_to "Kategorien", :controller => "categories" %> <%= link_to("+", :controller => "categories", :action => "list_no_public") if has_non_public(Category) %>
        <%= raw category_links %></p>
      <p id="letter"><%= link_to "Autoren", :controller => "authors" %> <%= link_to("+", :controller => "authors", :action => "list_no_public") if has_non_public(Author) %>
        <%= raw author_links %></p>
      <p><%= link_to "Hilfe",     :controller => "static_pages", :action => "help" %></p>
      <p><%= link_to "Einbinden", :controller => "static_pages", :action => "use" %></p>
      <p><%= link_to "Projekt",   :controller => "static_pages", :action => "project" %></p>
      <p><%= link_to "Impressum", :controller => "static_pages", :action => "contact" %></p>
    </span>
    <% if flash[:error] -%>
      <div id="error"><%= image_tag("exclamation.png", :alt => "rotes Ausrufezeichen", :title => "Achtung", :border => "0") %> <%= flash[:error] %></div>
    <% elsif flash[:notice] -%>
      <div id="notice"><%= image_tag("flag_green.png", :alt => "grüne Fahne", :title => "OK", :border => "0") %> <%= flash[:notice] %></div>
    <% end -%>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
